@import url('./reset.css');
@import url('./common.css');
@import url('./layout.css');
@import url("./font/web/static/pretendard.css");

/* title-box */
.title-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title-box__title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* box */
.box{
    display: flex;
    flex-direction: column;
    align-content: center;

    padding-bottom: 4rem;
    gap:4rem;
    border-bottom: 1px solid var(--theme-color-400);
}

.box:last-child{
    border-bottom: unset;
}

.box__title{
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 1rem;
}
.box__title--left{
    text-align: left;
}

.box__content{
    height: 100%;
}
.box__button-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* bar */
.bar{
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.bar__item{
    width: 3rem;
    height: .25rem;
    display: inline-block;
    background-color: var(--theme-color-400);
}

.bar__item.is-active{
    background-color: var(--primary-color-500);
}


.control-form__label{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: .5em;
}

.control-form__label .icon[src*="angle"]{
    transform: rotate(90deg);
    width: 1rem;
    height: 1rem;
}


/* table (ul + li) */

.table{
    display: flex;
    flex-direction: column;

    color: var(--text-color-800);
}
.table__tbody{
    display: flex;
    flex-direction: column;
}
.table__tr{
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid var(--theme-color-400);
}

.table__td, .table__thead{
    width: 100%;
}
.table__thead{
    display: flex;
    flex-direction: row;
    
    color: var(--text-color-400);
}

.table__td,.table__thead{
    padding: 0.75rem 1rem;
}

.table__td--remark{
    color: var(--text-color-600);
    font-size: 0.875rem;
}

.table__tbody .table__tr .button--outline{
    position: relative;
}

.table__modal{
    border-radius: .5rem;
    background: var(--background-color);
    color: var(--text-color-800);

    position: absolute;
    right: 0;
    top: 100%;
    min-width: 8rem;

    border: 1px solid var(--theme-color-400);

    z-index: 1;
}

.table__modal li{
    padding: .5em .1em;
}  

.table__modal li:hover{
    background:var(--theme-color-100);
}

.state.active{
    color: var(--success-color-500);
}