:root{
    --white: #fff;

    --primary-color-400:#EF4354;
    --primary-color-500:#EE3649;

    --secondary-color-400:#7490BE;
    --secondary-color-500:#385179;

    --focus-color-50:#E5F7FF;
    --focus-color-400:#33BEFF;
    --focus-color-500:#00A2ED;

    --success-color-500:#F8AF1D;

    --filter-primary:invert(31%) sepia(46%) saturate(6438%) hue-rotate(339deg) brightness(100%) contrast(87%);
    --filter-focus:invert(48%) sepia(70%) saturate(2205%) hue-rotate(168deg) brightness(96%) contrast(101%);


}


html[data-theme='light']{
    --background-color:#fff;

    --text-color-400:#999999;
    --text-color-600:#666666;
    --text-color-800:#333333;
   
    --filter-text-400:invert(63%) sepia(8%) saturate(13%) hue-rotate(323deg) brightness(97%) contrast(81%);
    --filter-text-800:invert(18%) sepia(7%) saturate(18%) hue-rotate(336deg) brightness(88%) contrast(88%);

    --theme-color-50:#fcfcfd;
    --theme-color-100:#f5f6f7;
    --theme-color-200:#f0f2f4;
    --theme-color-300:#eaecee;
    --theme-color-400:#e5e8eb;
    --theme-color-500:#dfe2e6;
    --theme-color-600:#cbced1;
    --theme-color-700:#9ea0a3;
    --theme-color-800:#7b7c7f;
    --theme-color-900:#5e5f61;

    --box-shadow--3: 0 0.75rem 1.5rem 0 rgba(94,95,97,0.1);
    --box-shadow--5: 0 2rem 3rem 0 rgba(94,95,97,0.1);

}

html[data-theme='dark']{
    --background-color:#111;

    --text-color-400:#999999;
    --text-color-600:#CCCCCC;
    --text-color-800:#F2F2F2;

    --filter-text-400:invert(72%) sepia(19%) saturate(14%) hue-rotate(334deg) brightness(83%) contrast(79%);
    --filter-text-800:invert(100%) sepia(3%) saturate(1046%) hue-rotate(257deg) brightness(118%) contrast(90%);

    --theme-color-50:#111111;
    --theme-color-100:#161616;
    --theme-color-200:#1c1c1c;
    --theme-color-300:#242424;
    --theme-color-400:#282828;
    --theme-color-500:#535353;
    --theme-color-600:#6f6f6f;
    --theme-color-700:#9c9c9c;
    --theme-color-800:#bcbcbc;
    --theme-color-900:#eaeaea;

    --box-shadow--3: 0 0.75rem 1.5rem 0 rgba(17,17,17,0.1);
    --box-shadow--5: 0 2rem 3rem 0 rgba(17,17,17,0.1);

}


*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
html,body{
    min-height:100%;
    
    font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: calc(14px + 0.1vw);
    line-height: 150%;

    color: var(--text-color-800);
    background-color: var(--background-color);
}

option{
    background: var(--background-color);
}

/* font-size */
.body--large{
    font-size: 1.333rem;
    line-height: 1.5em;
}
.body--small{
    font-size: 0.875rem;
    line-height: 1.5em;
}


/* font-weight */
.font-weight--medium{
    font-weight: 500;
}
.font-weight--semibold{
    font-weight: 600;   
}
.font-weight--bold{
    font-weight: 700;   
}

/* font-color */
.font-color--third{
    color: var(--text-color-400);
}
.font-color--second{
    color: var(--text-color-600);
}


/* font-align */
.font-align--center{
    text-align: center;
}

/* headline */
.h1{
    font-size: 5.61rem;
    line-height: 1.3em;
}
.h2{
    font-size: 4.209rem;
    line-height: 1.3em;

}
.h3{
    font-size: 3.157rem;
    line-height: 1.4em;

}
.h4{
    font-size: 2.369rem;
    line-height: 1.5em;

}
.h5{
    font-size: 1.777rem;
    line-height: 1.5em;
}
.h6{
    font-size: 1.333rem;
    line-height: 1.5em;
}

@media all and (max-width:480px){
    .h1{
        font-size: 3.157rem;
        line-height: 1.4em;
    
    }
    .h2{
        font-size: 2.369rem;
        line-height: 1.5em;
    
    }
    .h3{
        font-size: 1.777rem;
        line-height: 1.5em;
    
    }
    .h4{
        font-size: 1.333rem;
        line-height: 1.5em;
    }
    .h5{
        font-size: 1.25rem;
        line-height: 1.5em;
    
    }
    .h6{
        font-size: 1rem;
        line-height: 1.5em;
    }
}


/* icon */
.icon{
    width: 1.25rem;
    height: 1.25rem;
    filter:var(--filter-text-800)
}
.icon--large{
    width: 1.5rem;
    height: 1.5rem;
}

.icon--warning{
    filter: var(--filter-primary);
}


/* flex */
[class*='flex']{
    display: flex;
    gap: 1rem;
}
.flex--row{
    flex-direction: row;
}
.flex--column{
    flex-direction: column;
}

@media all and (max-width:480px){
    .flex--row.is-change{
        flex-direction: column;
    }
    .flex--column.is-change{
        flex-direction: row;
    }
}
.flex-align--center{
    align-items: center;
}
.flex-align--end{
    align-items: flex-end;
}

.flex-justify--between{
    justify-content: space-between;
}
.flex-justify--end{
    justify-content: flex-end;
}


/* grid */
.grid--center{
    display: grid;
    place-items: center;
}

/* gap */
.gap--large{
    gap: 2rem;
}
.gap--xl{
    gap: 4rem;
}



/* select */
.select-box{
    position: relative;
}

.select-box__select{
    border: none;
    padding: 0 1rem;
    width: 100%;
    height: 100%;

    border: 1px solid var(--theme-color-400);
    border-radius: .5rem;

    cursor: pointer;
}
.select-box__icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 1rem;

}

.select-box__select:focus + .select-box__icon {
    transform: translateY(-50%) rotate(0deg);
    transition: .35s;
}

.select-box--large{
    width: 12rem;
    height: 3rem;
}


/* input */
.input-area{
    margin-bottom: 2rem;
}
.input-box{
    position: relative;
}
.input-box__label{
    display: inline-block;
    margin-bottom: .25rem;
}
.input{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--theme-color-400);
    height: 2.5rem;
}
.input-box .icon{
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    filter: var(--filter-text-400);

    cursor: pointer;
}
.input-box .icon:not(img[src*='eye']){
    display: none;
}
::placeholder{
    color: var(--text-color-600);
}
.input--large{
    height: 3rem;
}

.input-area.is-error *:not(label){
    color: var(--primary-color-500);
}
.input-area.is-error .input{
    border: 1px solid var(--primary-color-500);
}

.input-area__helper{
    margin-top: .5rem;
    font-size: 0.875rem;
    color:var(--text-color-600)
}



/* checkbox box */
.checkbox{
    width: 1rem;
    height: 1rem;
    border-radius: .25rem;
    overflow: hidden;

    display: grid;
    place-items: center;
    border: 1px solid var(--theme-color-400);
}
.checkbox::before{
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
}

/* checkbox mark */
.checkbox:checked{
    background-color: var(--primary-color-500);
}
.checkbox:checked::before{
    width: 80%;
    height: 80%;
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath fill='%23ffffff' d='M13.72 27.69 3.29 17.27a1 1 0 0 1 1.41-1.41l9 9L31.29 7.29A1 1 0 0 1 32.7 8.7Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3C/svg%3E");
    background-size: contain;
}

/* checkbox disabled */
.checkbox:disabled,
.radio:disabled{
    background: var(--theme-color-100);
    border-color:var(--theme-color-400)
}
.checkbox:checked:disabled::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath fill='%23999999' d='M13.72 27.69 3.29 17.27a1 1 0 0 1 1.41-1.41l9 9L31.29 7.29A1 1 0 0 1 32.7 8.7Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3C/svg%3E");
}


/* button */
.button{
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;

    color: var(--text-color-800);

    display: flex;
    align-items: center;
}

.button:not(.icon-button) .icon{
    margin-right: .5rem;
    filter: var(--filter-text-400);
}
.button:hover{
    transition: .3s;
}
.button:disabled{
    background: var(--theme-color-100);
    border: var(--theme-color-400);
    color: var(--theme-color-400);
}


/* button color set */
.button--text{
    color: var(--secondary-color-400);
}
.button--text:hover{
    color: var(--secondary-color-500);
}

.button--primary{
    background: var(--primary-color-500);
    color: var(--white);
}
.button--primary:hover{
    background-color: var(--primary-color-400);
}

.button--secondary{
    background: var(--secondary-color-500);
    color: var(--white);

}
.button--secondary:hover{
    background-color: var(--secondary-color-400);
}

.button--outline{
    border: 1px solid var(--theme-color-400);
}

/* button size set */
.button--xl{
    padding: 1rem 4rem;
}
.button--large{
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 3rem;
}
.button--regular{
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.75rem;
}
.button--small{
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;
}



/* only icon button */
.icon-button{
    display: grid;
    place-items: center;

    padding: 0;
}
.icon-button.button--large{
    width: 3.5rem;
}
.icon-button.button--regular{
    width: 3rem;
}
.icon-button.button--small{
    width: 2.5rem;
}


/* group button */
.group-button{
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}
.group-button__base{
    display: grid;
    place-items: center;
    border: 1px solid var(--theme-color-400);
    cursor: pointer;
}
.group-button__base:hover{
    background: var(--focus-color-50);
    transition: .3s;
}

.group-button__base .icon{
    filter: var(--filter-text-400);
}
.group-button--large{
    width: 3rem;
    height: 3rem;
}
.group-button__base--left{
    border-radius: .5rem 0 0 .5rem ;
}
.group-button__base--right{
    border-radius: 0 .5rem .5rem 0 ;
}

#tutorial.is-active{
    border-color: var(--focus-color-500);
}
#tutorial.is-active .icon{
    filter: var(--filter-focus);
}


/* hide setting */
.is-hide{
    display: none!important;
}


/* toggle */
.toggle {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}
.toggle--small{
    width: 3rem;
    height: 1.5rem;
}
  
.toggle__checkbox {
    border-radius: 1.25em;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-color-400);
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle__slider::before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}

.toggle__checkbox:checked {
    background-color: var(--focus-color-500)
}
.toggle__checkbox:checked + .toggle__slider::before {
    transform: translateX(135%) translateY(-50%);
}





/* tab */
.tab{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab__item{
    height: 3rem;
    line-height: 3rem;

    color: var(--text-color-600);
    cursor: pointer;
}

.tab__item.is-active{
    font-weight: 500;
    color: var(--text-color-800);
}


/* bar */
.bar{
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.bar__item{
    width: 3rem;
    height: .25rem;
    display: inline-block;
    background-color: var(--theme-color-400);
}

.bar__item.is-active{
    background-color: var(--primary-color-500);
}
