<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정 | 브랜딩</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <div class="container">
                    <!-- 상단 헤더 -->
                    <script>
                        loadHTML("/statics/include/sub_header.html");
                    </script>
                    <!-- // 상단헤더 -->
                    <!-- 메인 컨텐츠 -->
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myInfo.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myPayInfo.html">요금제</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myPayHisInfo.html">결제 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myUseHisInfo.html">사용 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <div class="full-grid left-double">
                            <div class="card-wrap">
                                <div class="card">
                                    <div class="card__header">
                                        <p class="is-remark">
                                            기업 설정
                                        </p>
                                        <button type="button" class="button button--text">수정하기</button>
                                    </div>
                                    <div class="card__inner">
                                        <div class="flex--row">
                                            <p class="is-remark width-10">기업소개</p>
                                            <input type="text" class="input width-90"
                                            placeholder="기업 전용 URL 접속 시 로그인 페이지에 표시됩니다.
                                            ">
                                        </div>
                                        <div class="flex--row">
                                            <p class="is-remark width-10">로고 변경</p>  
                                            <div class="is-image file-box">
                                                <div class="flex--row">
                                                    <div id="thumbnail-logo"class="file-box__thumbnail">
                                                        <img src="/statics/img/logo.png" alt="기본 로고">
                                                    </div>
                                                    <p class="is-remark">
                                                        좌측 nav바에 표시되는 아이콘입니다.<br>
                                                        가로 200px 이하, 세로 40px 이하의 JPG, GIF, PNG 형식 파일을 올려주세요.
                                                    </p>
                                                </div>
                                                
                                                <div class="basic-button-wrap gap--sm">
                                                    <button type="button" class="button button--outline is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        원래대로
                                                    </button>
                                                    <label for="file-logo" class="file-box__label button button--secondary is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        파일찾기
                                                    </label>
                                                    <input type="file" id="file-logo" class="file-box__file">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="flex--row">
                                            <p class="is-remark width-10">파비콘 변경</p>
                                            <div class="is-image file-box">
                                                <div class="flex--row">
                                                    <div id="thumbnail-favicon"class="file-box__thumbnail">
                                                        <img src="/statics/img/logo.png" alt="기본 파비콘">
                                                    </div>
                                                    <p class="is-remark">
                                                        브라우저 탭에 표시되는 아이콘입니다.<br>
                                                        jpg, gif, png 형식 파일을 올려주세요. 
                                                    </p>
                                                </div>
                                                <div class="basic-button-wrap gap--sm">
                                                    <button type="button" class="button button--outline is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        원래대로
                                                    </button>
                                                    <label for="file-favicon" class="file-box__label button button--secondary is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        파일찾기
                                                    </label>
                                                    <input type="file" id="file-favicon" class="file-box__file">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="button button--text">
                                            기본 설정으로 되돌리기
                                        </button>
                                    </div>
                                    <!-- /card__inner -->
                                </div>
                                <!-- /card -->
                                <div class="tab-wrap">
                                    <ul class="tab">
                                        <li class="tab__item--badge is-active ">
                                            <a href="javascript:void(0)">이메일</a>
                                        </li>
                                        <li class="tab__item--badge ">
                                            <a href="javascript:void(0)">카카오 알림톡</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /tab-wrap -->
                                <div class="card">
                                    <div class="card__inner">
                                        <!-- /tab-wrap -->
                                        <div class="card__header">
                                            <p class="is-remark">
                                                계약을 통해 발송되는 이메일 양식을 기업의 이미지에 맞게 변경할 수 있습니다.
                                            </p>
                                            <button type="button" class="button button--text">수정하기</button>
                                        </div>
                                        <ul class="basic-list">
                                            <li class="list__item">
                                                로고 이미지
                                            </li>
                                            <li class="list__item">
                                                로고 링크
                                            </li>
                                            <li class="list__item">
                                                선 색
                                            </li>
                                            <li class="list__item">
                                                메일 배경색
                                            </li>
                                            <li class="list__item">
                                                본문 배경색
                                            </li>
                                            <li class="list__item">
                                                버튼색
                                            </li>
                                            <li class="list__item">
                                                발신자이름
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /card-wrap -->
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                    </div>
                    <!-- /container -->
            </main>
        </div>
       
        
        <script>
            // 썸네일 이벤트
            $(".file-box.is-image .file-box__file").on("change", function(){
                let files = !! this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; 

                let target = $(this).attr('id').replace('file-','')
                if (/^image/.test( files[0].type)){ 
                    let reader = new FileReader(); 
                    reader.readAsDataURL(files[0]); 
                    reader.onloadend = function(){ 
                        $('#thumbnail-'+target).find('img')
                                                .attr('src',this.result); 
                    };
                }
            });
        </script>
    </body>
    
</html>