<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정 | 브랜딩</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <div class="container">
                    <!-- 상단 헤더 -->
                    <script>
                        loadHTML("/statics/include/sub_header.html");
                    </script>
                    <!-- // 상단헤더 -->
                    <!-- 메인 컨텐츠 -->
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myInfo.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myPayInfo.html">요금제</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myPayHisInfo.html">결제 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myUseHisInfo.html">사용 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <div class="full-grid left-double">
                            <div class="card-wrap">
                                <div class="card">
                                    <div class="card__inner">
                                        <div class="card__header">
                                            <p class="is-remark">
                                                기업 설정
                                            </p>
                                            <button type="button" class="button button--text">수정하기</button>
                                        </div>
                                        <div class="flex--row is-change">
                                            <p class="is-remark width-10">기업소개</p>
                                            <input type="text" class="input width-90"
                                            placeholder="기업 전용 URL 접속 시 로그인 페이지에 표시됩니다.
                                            ">
                                        </div>
                                        <div class="flex--row is-change">
                                            <p class="is-remark width-10">로고변경</p>  
                                            <div class="is-image file-box">
                                                <div class="flex--row is-change">
                                                    <div id="thumbnail-logo"class="file-box__thumbnail">
                                                        <img src="/statics/img/logo.png" alt="기본 로고">
                                                    </div>
                                                    <p class="is-remark">
                                                        좌측 nav바에 표시되는 아이콘입니다.<br>
                                                        가로 200px 이하, 세로 40px 이하의 JPG, GIF, PNG 형식 파일을 올려주세요.
                                                    </p>
                                                </div>
                                                
                                                <div class="flex--row gap--sm">
                                                    <button type="button" class="button button--outline is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        원래대로
                                                    </button>
                                                    <label for="file-logo" class="file-box__label button button--secondary is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        파일찾기
                                                    </label>
                                                    <input type="file" id="file-logo" class="file-box__file">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="flex--row is-change">
                                            <p class="is-remark width-10">파비콘변경</p>
                                            <div class="is-image file-box">
                                                <div class="flex--row is-change">
                                                    <div id="thumbnail-favicon"class="file-box__thumbnail">
                                                        <img src="/statics/img/logo.png" alt="기본 파비콘">
                                                    </div>
                                                    <p class="is-remark">
                                                        브라우저 탭에 표시되는 아이콘입니다.<br>
                                                        jpg, gif, png 형식 파일을 올려주세요. 
                                                    </p>
                                                </div>
                                                <div class="flex--row gap--sm">
                                                    <button type="button" class="button button--outline is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        원래대로
                                                    </button>
                                                    <label for="file-favicon" class="file-box__label button button--secondary is-small">
                                                        <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                        파일찾기
                                                    </label>
                                                    <input type="file" id="file-favicon" class="file-box__file">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="button button--text">
                                            기본 설정으로 되돌리기
                                        </button>
                                    </div>
                                    <!-- /card__inner -->
                                </div>
                                <!-- /card -->
                                <div class="tab-wrap">
                                    <ul class="tab" id="brand-tab">
                                        <li class="tab__item--badge is-active " data-tab="mail">
                                            <a href="javascript:void(0)">이메일</a>
                                        </li>
                                        <li class="tab__item--badge " data-tab="kakao">
                                            <a href="javascript:void(0)">카카오 알림톡</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /tab-wrap -->
                                <div class="card tab-container" data-tab="mail">
                                    <div class="card__inner">
                                        <!-- /tab-wrap -->
                                        <div class="card__header is-change">
                                            <p class="is-remark">
                                                계약을 통해 발송되는 이메일 양식을 기업의 이미지에 맞게 변경할 수 있습니다.
                                            </p>
                                            <button type="button" class="button button--text">수정하기</button>
                                        </div>
                                        <div class="flex--row flex-align--start width-100">
                                            <ul class="basic-list width-50">
                                                <li class="list__item is-change">
                                                    <p class="is-remark width-20">발신자명</p>
                                                    <input type="text"  class="input width-80">
                                                </li>
                                                <li class="list__item is-change">
                                                    <p class="is-remark width-20">로고 이미지</p>
                                                    <div class="is-image file-box">
                                                        <div class="flex--row is-change">
                                                            <div id="thumbnail-logo"class="file-box__thumbnail">
                                                                <img src="/statics/img/logo.png" alt="기본 로고">
                                                            </div>
                                                            <p class="is-remark">
                                                                200px * 40px
                                                                <br>
                                                                JPG, GIF, PNG 형식 파일
                                                            </p>
                                                        </div>
                                                        
                                                        <div class="flex--row gap--sm">
                                                            <button type="button" class="button button--outline is-small">
                                                                <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                                원래대로
                                                            </button>
                                                            <label for="file-logo" class="file-box__label button button--secondary is-small">
                                                                <img src="/statics/icon/angle-down.svg" alt="파비콘 이미지 찾기" class="icon">
                                                                파일찾기
                                                            </label>
                                                            <input type="file" id="file-logo" class="file-box__file">
                                                        </div>
                                                    </div>

                                                </li>
                                                <li class="list__item is-change">
                                                    <p class="is-remark width-20">하이퍼링크</p>
                                                    <input type="text"  class="input width-80">

                                                </li>
                                                <li class="list__item is-change">
                                                    <p class="is-remark width-20">메일 배경색</p>
                                                    <div class="input control-form width-80">
                                                        <input type="color"  class=""id="mail-background-color"
                                                        value="#EE3649">
                                                        <label for="mail-background-color"
                                                        class="width-100">#EE3649</label>
                                                    </div>
                                                </li>
                                                <li class="list__item is-change">
                                                    <p class="is-remark width-20">본문 배경색</p>
                                                    <div class="input control-form width-80">
                                                        <input type="color"  class=""id="mail-body-color"
                                                        value="#EE3649">
                                                        <label for="mail-body-color"
                                                        class="width-100">#EE3649</label>
                                                    </div>
                                                </li>
                                                <li class="list__item is-change">
                                                    <p class="is-remark width-20">버튼 색상</p>
                                                    <div class="input control-form width-80">
                                                        <input type="color"  class=""id="mail-button-color"
                                                        value="#EE3649">
                                                        <label for="mail-button-color"
                                                        class="width-100">#EE3649</label>
                                                    </div>
                                                </li>
                                                <li class="list__item is-change">
                                                    <p class="is-remark width-20">버튼 글자 색상</p>
                                                    <div class="input control-form width-80">
                                                        <input type="color"  class=""id="mail-button-text-color"
                                                        value="#EE3649">
                                                        <label for="mail-button-text-color"
                                                        class="width-100">#EE3649</label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="width-50 is-pc">
                                                <img class="width-100 "src="http://source.unsplash.com/random">
                                            </div>
                                        </div>
                                        
                                        <button type="button" class="button button--text">
                                            기본 설정으로 되돌리기
                                        </button>
                                    </div>
                                </div>
                                <div class="card is-hide tab-container" data-tab="kakao">
                                    <div class="card__inner">
                                        <!-- /tab-wrap -->
                                        <div class="card__header is-change">
                                            <p class="is-remark">계약을 통해 발송되는 카카오 알림톡 양식을 기업의 이미지에 맞게 변경할 수 있습니다.</p>
                                            <button type="button" class="button button--text">수정하기</button>
                                        </div>
                                        <div class="flex--row flex-align--start width-100">
                                            <div class="card__body width-50">
                                                <p class="is-remark">카카오 알림톡 연동 방법</p>
                                                <ul class="basic-list">
                                                    <li class="list__item">
                                                        <p class="">1</p>
                                                        <p class="">카카오톡 연동을 위해 카카오톡 비즈니스 채널을 생성합니다.</p>
                                                    </li>
                                                    <li class="list__item">
                                                        <p class="">2</p>
                                                        <p class="">채널은 [카카오톡 관리자센터]에서 무료로 생성할 수 있습니다.</p>
                                                    </li>
                                                    <li class="list__item">
                                                        <p class="">3</p>
                                                        <p class="">카카오톡 채널 생성 후, 비즈니스 채널로 전환합니다.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="width-50">
                                                <img class="width-100 "src="http://source.unsplash.com/random">
                                            </div>
                                        </div>
                                        
                                        
                                        <button type="button" class="button button--text">
                                            기본 설정으로 되돌리기
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /card-wrap -->
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                    </div>
                    <!-- /container -->
            </main>
        </div>
       
        
        <script>
            // 썸네일 이벤트
            $(".file-box.is-image .file-box__file").on("change", function(){
                let files = !! this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; 

                let target = $(this).attr('id').replace('file-','')
                if (/^image/.test( files[0].type)){ 
                    let reader = new FileReader(); 
                    reader.readAsDataURL(files[0]); 
                    reader.onloadend = function(){ 
                        $('#thumbnail-'+target).find('img')
                                                .attr('src',this.result); 
                    };
                }
            });

            $('#brand-tab li').on('click',function(){
                let target = $(this).data('tab') 

                $('#brand-tab li').removeClass('is-active')
                $(this).addClass('is-active')
                $('.tab-container').addClass('is-hide')
                $('.tab-container[data-tab='+target+']').removeClass('is-hide')
            })

            // 컬러피커 선택 후 label text 바뀌는 이벤트
            $('input[type="color"]').on('change',function(){
                console.log($(this).val())
                $(this).siblings('label').text($(this).val())
            })
        </script>
    </body>
    
</html>