<!DOCTYPE html>
<html lang="ko" data-fold="true">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정|내정보</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myPayInfo.html">요금제</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myPayHisInfo.html">결제 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myUseHisInfo.html">사용 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myBrandingInfo.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <div class="full-grid">
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                            <div class="card is-column-full">
                                <div class="card__inner">
                                    <div class="card__header is-change">
                                        <p class="">안녕하세요, <span id="set-user_name">홍길동</span>님</p>
                                        <button type="button" class="button is-round button--outline">
                                            <img src="/statics/icon/switch-line.svg" class="icon" alt="기업회원전환">
                                            기업회원전환
                                        </button>
                                    </div>
                                    <p class="is-remark" id="set-user_mail">hong123@naver.com</p>
                                    
                                    <p class="card__header is-end is-remark">최종변경일: <span>2022-12-15</span></p>
                                </div>
                                
                            </div>
                            <div class="card" id="setting-name">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark ">이름</p>
                                        <button type="button" class="button button--text">수정하기</button>
                                    </div>
                                    <p class="to-be-input" id="set-user_name">홍길동</p>
                                    <p class="is-remark">
                                        본인 이름 또는 기업 이름으로 설정해주세요.
                                        수신자에게 서명 요청자로 노출됩니다.
                                    </p>
                                </div>
                            </div>
                            <div class="card" id="setting-price">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">요금제</p>
                                        <a href="/template/config/myPayInfo.html" class="button button--text">변경하기</a>
                                    </div>
                                    <div class="card__header">
                                        <p id="set-user_product">Premium(월)</p>
                                        <p class="">99,000원</p>
                                    </div>
                                    <p class="is-remark card__header is-end">잔여일수 : <span id="set-user_left_day">15</span>일</p>
                                </div>
                            </div>
                            <div class="card" id="setting-password">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">비밀번호</p>
                                        <button type="button" class="button button--text">수정하기</button>
                                    </div>
                                    <div class="to-be-input is-hide"></div>
                                    <p class="is-remark ">
                                        개인정보 보호와 안전한 계약을 위해 비밀번호는 6개월마다 변경해 주세요.
                                    </p>
                                </div>
                                
                            </div>
                            <div class="card" id="setting-phone">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">연락처</p>
                                        <button type="button" class="button button--text">수정하기</button>
                                    </div>
                                    <p class="to-be-input">010-1234-5678</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">수신동의</p>
                                    </div>
                                    <div class="card__header">
                                        <p>마케팅 수신 동의</p>
                                        <label class="is-small toggle" for="agree_marketing">
                                            <input type="checkbox" id="agree_marketing" class="toggle__checkbox">
                                            <span class="toggle__slider"></span>
                                        </label>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="card">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">테마설정</p>
                                    </div>
                                    <div class="card__header">
                                        <p>어두운 테마</p>
                                        <label class="is-small toggle" for="toggle-theme">
                                            <input type="checkbox" class="toggle__checkbox" id="toggle-theme">
                                            <span class="toggle__slider"></span>
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                            <a href="/template/config/userWithdrawn.html"
                            class="is-remark button button--text flex-justify--start">회원탈퇴</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
       
        
        <script>

            // 카드 인풋 변경
            function manageCard(){
                let context = $(this).text()
                let $el = $(this).parents('.card').find('.to-be-input')
                let $title = $(this).prev('.is-remark').text()

                switch (context){
                    case "수정하기": 
                        if($el.hasClass('is-hide')) $el.removeClass('is-hide')

                        if($title == '비밀번호'){
                            $el.html(`
                                <div class="input-area">
                                    <div class="input-box">
                                        <input type="password"
                                        class="input"
                                        id="change-password-before"
                                        placeholder="현재 비밀번호를 입력해주세요.">
                                        <img class="icon" src="/statics/icon/eye-show-line.svg"></img>
                                    </div>
                                </div>
                                <div class="input-area">
                                    <div class="input-box">
                                        <input type="password"
                                        class="input"
                                        id="change-password"
                                        placeholder="비밀번호를 입력해주세요.">
                                        <img class="icon" src="/statics/icon/eye-show-line.svg"></img>
                                    </div>
                                    <div class="flex--row is-hide">
                                        <div class="icon-with-text"
                                        id="has-number">
                                            <img src="/statics/icon/check-line.svg"
                                            class="icon">
                                            <p class="is-remark">문자 및 숫자 포함</p>
                                        </div>
                                        <div class="icon-with-text"
                                        id="has-asterisk">
                                            <img src="/statics/icon/check-line.svg"
                                            class="icon">
                                            <p class="is-remark">특수문자</p>
                                        </div>
                                        <div class="icon-with-text"
                                        id="has-length">
                                            <img src="/statics/icon/check-line.svg"
                                            class="icon">
                                            <p class="is-remark"> 8자리 이상</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-area">
                                    <div class="input-box">
                                        <input type="password"
                                        class="input"
                                        id="change-password-re"
                                        placeholder="비밀번호를 한번 더 입력해주세요.">
                                        <img class="icon" src="/statics/icon/eye-show-line.svg"></img>
                                    </div>
                                </div>
                            `)
                        }

                        else{
                            if($title == '이름'){
                                inputLength = 64;
                                inputId='name'
                            }
                            else{
                                inputLength = 13;
                                inputId='phone'
                            }
                            $el.html(`
                                <div class="input-box">
                                    <input type="text"
                                    class="input"
                                    id="change-${inputId}"
                                    maxlength = ${inputLength}
                                    value = ${$el.text()}
                                    placeholder="${$title}을 입력해주세요">
                                    <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                                </div>
                                <p class="input-area__helper"></p>
                            `)
                        }
                        
                        $(this).text('저장하기')
                        break;

                    case "저장하기":
                        value = $el.find('.input').val()

                        $title !== "비밀번호" ? $el.html(value) : $el.html('')
                        $(this).text('수정하기')
                        break;
                }

            }

            $('.button').on('click',manageCard)

            $(function(){
                loadedTheme = localStorage.getItem('data-theme')
                loadedTheme == 'dark' ?
                    $('#toggle-theme').prop('checked',true)
                    :$('#toggle-theme').prop('checked',false)

                $('#set-user_mail').text(newTestObj['user_mail'])
                $('#set-user_product').text(newTestObj['user_product']+'('+newTestObj['user_regular_payment']+')')
                $('#set-user_name').text(newTestObj['user_name'])
                $('#set-user_left_day').text(newTestObj['left_day'])
                $('#agree_marketing').prop('checked',newTestObj['marketing'])

            })
           
            // 테마 토글
            function toggleTheme(){
                loadedTheme = localStorage.getItem('data-theme')
                setTheme(loadedTheme == "dark" ? "light" : "dark");
            }

            function setTheme(setTheme){
               setTheme == 'dark' ?
                    $('#toggle-theme').prop('checked',true)
                    :$('#toggle-theme').prop('checked',false)

                localStorage.setItem('data-theme',setTheme);
                $('html').attr('data-theme',setTheme)
            }

            $('#toggle-theme').on('click',toggleTheme)


            // 폰넘버 하이픈 추가
            $(document).on('keyup','#change-phone',function(){
                let str = $(this).val()
                $(this).val(str.replace(/[^0-9]/g, '')
                        .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, ""));
            })

           

        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>