<!DOCTYPE html>
<html lang="ko" data-fold="true">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정 | 결제 내역</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- tabs -->
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myInfo.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myPayInfo.html">요금제</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">결제 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myUseHisInfo.html">사용 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myBrandingInfo.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /tabs -->
                        <div class="full-grid">
                            <div class="card is-column-full">
                                <div class="card__inner">
                                    <p class="is-remark">결제내역</p>
                                    <div class="flex--row is-change">
                                        <ul class="basic-list width-50">
                                            <li class="list__item">
                                                <p class="is-remark width-15">정기결제일</p>
                                                <p class="body--small">31일</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">결제구분</p>
                                                <p class="body--small">웰컴요금제-100건</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">결제방법</p>
                                                <p class="body--small">선결제</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">TID</p>
                                                <p class="body--small">CTS22033117281996134</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">결제일시</p>
                                                <p class="body--small">2022-03-31 17:33:46</p>
                                            </li>
                                        </ul>
                                        <ul class="basic-list width-50">
                                            <li class="list__item">
                                                <p class="is-remark width-15">결제상태</p>
                                                <p class="body--small">정상</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">주문번호</p>
                                                <p class="body--small">3206be86defe4e4fab2f37658be8c3ee</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">결제수단</p>
                                                <p class="body--small">신용카드</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">결제금액</p>
                                                <p class="body--small">990</p>
                                            </li>
                                            <li class="list__item">
                                                <p class="is-remark width-15">입금일</p>
                                                <p class="body--small">2022-03-31</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->
                            <div class="card">
                                <div class="card__inner">
                                    <p class="is-remark">결제자정보</p>
                                    <ul class="basic-list">
                                        <li class="list__item">
                                            <p class="is-remark width-15">이름</p>
                                            <p class="body--small">0s,whenanunknownprintertookagal2</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">전화번호</p>
                                            <p class="body--small">010-1234-5678</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">이메일</p>
                                            <p class="body--small">test@mail.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /card -->
                            <div class="card">
                                <div class="card__inner">
                                    <p class="is-remark">기업정보</p>
                                    <ul class="basic-list">
                                        <li class="list__item">
                                            <p class="is-remark width-15">회사명</p>
                                            <p class="body--small">0s,whenanunknownprintertookagal2</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">사업자번호</p>
                                            <p class="body--small">010-1234-5678</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">대표자명</p>
                                            <p class="body--small">test@mail.com</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">전화번호</p>
                                            <p class="body--small">test@mail.com</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">업종</p>
                                            <p class="body--small">test@mail.com</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">업태</p>
                                            <p class="body--small">test@mail.com</p>
                                        </li>
                                        <li class="list__item">
                                            <p class="is-remark width-15">주소</p>
                                            <p class="body--small">부산광역시 강서구 녹산산단382로14번가길 10~29번지(송정동)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /card -->
                            <a href="/template/config/myPayHisInfo.html" class="button button--text
                            flex-justify--start">
                                <img src="/statics/icon/angle-left.svg" class="icon">
                                뒤로가기
                            </a>
                            <div class="card is-row-full" id="event"></div>
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        
        <script>
            $(function(){
                loadData(10)
            })
            // 데이터 로드
            function loadData(breakpoint){
                $.ajax({
                    url: "/json/dummy.json",
                    type: "GET", 
                    dataType: "json"
                })
                .done(function(res) {
                    let total = res.length;
                    let paginationLength = Math.ceil(Number(total) / Number(breakpoint));

                    makePagination(paginationLength);
                    makeTable(res,breakpoint)
                })
                .fail(function(xhr, status, errorThrown) {
                })
                .always(function(xhr, status) {
                });
            }

            function makePagination(paginationLength){
                let minPage = 1;                    // 시작페이지
                let maxPage = paginationLength;     // 최대페이지 (단, 10개 미만일 경우 total값)
                let perPage = 10;                   // 뷰에 보이는 페이지 개수
                // let currentPage = getUrl();            // 현재 페이지 (url 추출)


                currentPage = 1;
                maxPage = 10
                // console.log(currentPage)
                if(paginationLength > 10){
                    if(paginationLength % 10 > 0) {
                        minPage = Math.floor(paginationLength / 10) * 10
                        maxPage = minPage + 9
                    }
                    else{
                        maxPage = paginationLength / 10 * 10
                        minPage = maxPage - 9
                    }
                }

                for(let i = minPage; i <= maxPage; i++ ){
                    html = ''

                    i > 5 ?
                    hideViewportPaginationClass = 'is-pc' :
                    hideViewportPaginationClass = ''

                    if( i == currentPage){
                        html += `<li class="pagination__item is-active ${hideViewportPaginationClass}" data-page_num=${i}>${i}</li>`
                    }
                    else{
                        html += `
                            <li class="pagination__item ${hideViewportPaginationClass}" data-page_num=${i}>${i}</li>
                        `
                    }
                    $('#pagination-index-wrap').append(html)
                }
            }


            // 테이블 만들기
            function makeTable(data,breakpoint){

                console.log(data)
                // 이미 테이블이 생성된 경우 테이블 삭제 후 재생성
                if($('.table__tbody .table__tr').length > 0) {
                    $('.table__tbody .table__tr').remove()
                }

                for (let i = 0; i < breakpoint; i++){
                    if(i > data.length) break;
                    testClass = null

                    if(data[i].isActive == false){
                        state = `<p class="is-primary">결제완료</p>`
                    }
                    else{
                        state = `<p class="ban">결제취소</p>`
                    }

                    html = ''
                    html += `
                        <div class="table__tr ${testClass}" data-id="${data[i].index}">
                            <div class="table__td is-left width-150">
                                <div class="table__td width-15">
                                    ${state}
                                </div>
                                <div class="table__td width-50">
                                    <p class="table__td--title">${data[i].guid}</p>
                                </div>
                                <div class="table__td width-15">
                                    <p class="is-remark">${data[i]._id.substring(0,9)}</p>
                                </div>
                                <div class="table__td width-15">
                                    <p class="table__td--title">
                                        ${data[i].balance.replaceAll('$','')}원
                                        </p>
                                </div>
                                <div class="table__td width-15">
                                    <p class="is-remark">2022-12-31 오후 14:40</p>
                                </div>
                            </div>
                        </div>
                    `
                    $('.table__tbody').append(html)
                }
            }


            
        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>