<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정 | 결제 내역</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- tabs -->
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myInfo.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">요금제</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myPayHisInfo.html">결제 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myUseHisInfo.html">사용 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myBrandingInfo.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /tabs -->
                        <div class="full-grid">
                            <!-- card -->
                            <div class="card">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">결제금액</p>
                                        
                                        <a href="/template/config/priceDetail.html" class="button button--text is-small">변경하기</a>
                                    </div>
                                    <div class="card__header">
                                        <p class="font-weight--medium body--large">Business(월)</p>
                                        <p id="user_price">0원</p>
                                    </div>
                                    <div class="flex--row">
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>서명무제한</p>
                                        </div>
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>대량발송</p>
                                        </div>
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>링크발송</p>
                                        </div>
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>공문발송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">남은 서명</p>
                                        <a href="/template/config/pricePayAddition.html"
                                        class="button button--text is-small">충전하기</a>
                                    </div>
                                    <div class="flex--row">
                                        <div class="bar">
                                            <div class="bar__primary">
                                            </div>
                                        </div>
                                        <p class="flex--row gap--none">
                                            <span class="font-weight--medium">10</span>
                                            /<span class="">60</span>건
                                        </p>
                                    </div>
                                    <div class="state-box flex-justify--between">
                                        <div class="flex--row gap--sm">
                                            <img src="/statics/icon/exclamation-triangle-line.svg"
                                            class="icon is-primary">
                                            <p class="">정기 결제가 중단되었습니다.
                                                <span id="user_deadline">2020년 1월 1일</span>
                                                까지 이용 가능합니다.
                                            </p>
                                        </div>
                                        
                                        <a href="/template/config/priceDetail.html" class="icon-button">
                                            <img src="/statics/icon/angle-right.svg" alt="바로가기"
                                            class="icon is-primary">
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- /card -->
                            <div class="card">
                                <div class="card__inner">
                                    <p class="is-remark">쿠폰등록</p>
                                    <input type="input" class="input"
                                    placeholder="쿠폰번호를 입력해주세요.">
                                    
                                    <ul class="basic-list">
                                        <li class="list__item flex-justify--between">
                                            <div class="flex--row gap--sm">
                                                <img src="/statics/icon/tag-line.svg"
                                                class="icon is-small">
                                                <p>쿠폰번호 4</p>
                                            </div>
                                            <p class="is-remark">2022-12-31 오후 13:34</p>
                                        </li>
                                        <li class="list__item flex-justify--between">
                                            <div class="flex--row gap--sm">
                                                <img src="/statics/icon/tag-line.svg"
                                                class="icon is-small">
                                                <p>쿠폰번호 2</p>
                                            </div>
                                            <p class="is-remark">2022-12-31 오후 13:34</p>
                                        </li>
                                        <li class="list__item flex-justify--between">
                                            <div class="flex--row gap--sm">
                                                <img src="/statics/icon/tag-line.svg"
                                                class="icon is-small">
                                                <p>쿠폰번호 3</p>
                                            </div>
                                            <p class="is-remark">2022-12-31 오후 13:34</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /card -->
                            <!-- /card-wrap -->
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        
        <script>
            let price = ['9,900','99,900','999,900']
            $(function(){
                for(let i = 0; i < $('.card__header').length; i++){
                    $('p[id^="user_count"]').eq(i).text(`${resultRandomNum(100)}건 / ${resultRandomNum(200)}건`)
                }
                $('#user_deadline').text(`20${resultRandomNum(22)}년 ${resultRandomNum(12)}월 ${resultRandomNum(30)}일`)
                $('#user_price').text(price[resultRandomNum(2)]+'원')
            })

            function resultRandomNum(value){
                randomVal = Math.floor(Math.random() * value)
                if(value < 10 && randomVal > 0 ){
                    return randomVal
                }
                else{
                    return randomVal
                }
            }

            
        </script>
    </body>
    
</html>