<!DOCTYPE html>
<html lang="ko" data-fold="true">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정|요금제</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- tabs -->
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myInfo.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">요금제</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myPayHisInfo.html">결제 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myUseHisInfo.html">사용 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myBrandingInfo.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /tabs -->
                        <div class="full-grid">
                            <div class="card">
                                <div class="card__inner">
                                    <p class="is-remark">구매상품</p>
                                    <div class="card__header ">
                                        <p>Premium (월간결제) </p>
                                        <p>39,000원</p>
                                    </div>
                                    <div class="flex--row">
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>서명무제한</p>
                                        </div>
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>대량발송</p>
                                        </div>
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>링크발송</p>
                                        </div>
                                        <div class="icon-with-text is-secondary">
                                            <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                            <p>공문발송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__inner has-border">
                                    <div class="card__header is-change">
                                        <div class="icon-with-text">
                                            <img src="/statics/icon/document-line.svg"
                                            alt="" class="icon">
                                            <p>대량/링크/공문</p>
                                        </div>
                                        <input type="number" class="input is-narrow" value="30"> 
                                    </div>
                                    <p class="is-remark text-align--right">상품은 10개 단위로 구매할 수 있습니다.</p>
                                </div>
                                
                               <div class="card__inner ">
                                    <p class="is-remark">쿠폰적용</p>
                                    <ul class="basic-list">
                                        <li class="list__item">
                                            <div class="control-form">
                                                <input type="radio" class="radio" name="coupon" checked id="coupon-none">
                                                <label for="coupon-none">사용안함</label>
                                            </div>
                                        </li>
                                        <li class="list__item">
                                            <div class="control-form">
                                                <input type="radio" class="radio" name="coupon" id="coupon-a">
                                                <label for="coupon-a">coupon A</label>
                                            </div>
                                        </li>
                                        <li class="list__item">
                                            <div class="control-form">
                                                <input type="radio" class="radio" name="coupon" id="coupon-b">
                                                <label for="coupon-b">coupon B</label>
                                            </div>
                                        </li>
                                        <li class="list__item">
                                            <div class="control-form">
                                                <input type="radio" class="radio" name="coupon" id="coupon-c">
                                                <label for="coupon-c">coupon C</label>
                                            </div>
                                        </li>
                                        <li class="list__item">
                                            <div class="control-form">
                                                <input type="radio" class="radio" name="coupon" id="coupon-d">
                                                <label for="coupon-d">coupon D</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /card -->
                            <!-- card -->
                            <div class="card">
                                <div class="card__inner has-border">
                                    <p class="is-remark">
                                        결제상세
                                    </p>
                                    <div class="flex--column gap--none">
                                        <div class="flex--row flex-justify--between" >
                                            <p>최종결제금액</p>
                                            <p class="is-accent body--large">33,000원</p>
                                        </div>
                                        <ul class="flex--column gap--none">
                                            <li class="checkbox__item">
                                                <p class="is-remark">멤버십</p>
                                                <p class="is-remark">30,000원</p>
                                            </li>
                                            <li class="checkbox__item">
                                                <p class="is-remark">추가상품</p>
                                                <p class="is-remark">3,000원</p>
                                            </li>
                                            <li class="checkbox__item">
                                                <p class="is-remark">할인금액</p>
                                                <p class="is-remark">0원</p>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                <!-- 라디오 카드, 실시간 계좌이체, 가상계좌이체 라디오 추가-->
                                <div class="card__inner">
                                    <p class="is-remark">결제방법</p>
                                    <div class="flex--column gap--sm">
                                        <div class="control-form width-20">
                                            <input type="radio"class="radio" name="paymentType" checked id="payment-card">
                                            <label for="">카드결제</label>
                                        </div>
                                        <div class="control-form">
                                            <input type="radio"class="radio" name="paymentType" id="payment-a">
                                            <label for="payment-a">실시간계좌이체</label>
                                        </div>
                                        <div class="control-form">
                                            <input type="radio"class="radio" name="paymentType" id="payment-b">
                                            <label for="payment-b">가상계좌이체</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->
                            <div class="card is-column-full">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <a href="javascript:void(0)" class="button button--text">이전</a>
                                        <button type="button" class="button button--primary"
                                        onclick="makeModal()">결제하기</button>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        <script src="/statics/js/common.js"></script>
        <script>
            $('.icon-button').on('click',function(){
                let button = $(this).attr('id').split('-').pop()
                let input = $(this).siblings('.input')
                let value = Number(input.val())

                if(button == 'plus' && value > 0){
                    value = value + 10
                }
                else if(button == 'minus' && value > 10){
                    value = value - 10
                }

                input.val(value)
            })

            function makeModal(){
                html = '';
                html += `
                <div class="modal">
                    <div class="modal__header">
                        <p class="modal__title">
                            사업자등록번호 입력
                        </p>
                        <button type="button" class="icon-button">
                            <img src="/statics/icon/close-line.svg" alt="닫기" class="icon modal__close-button">
                        </button>
                    </div>
                    <div class="modal__content">
                        <div class="input-box">
                            <label for="" class="input-box__label">사업자번호</label>
                            <input type="text" class="input"
                            placeholder="입력해주세요">
                        </div>
                        <div class="input-box">
                            <label for="" class="input-box__label">회사명</label>
                            <input type="text" class="input"
                            placeholder="입력해주세요">
                        </div>
                        <div class="input-box">
                            <label for="" class="input-box__label">대표자명</label>
                            <input type="text" class="input"
                            placeholder="입력해주세요">
                        </div>
                        <div class="input-box">
                            <label for="" class="input-box__label">업태/업종</label>
                            <div class="flex--row">
                                <input type="text" class="input"
                                placeholder="입력해주세요">
                                <input type="text" class="input"
                                placeholder="입력해주세요">
                            </div>
                            
                        </div>
                        <div class="flex--column gap--sm">
                            <p class="">주소</p>
                            <div class="flex--row">
                                <div class="input-box width-100">
                                    <input type="text"
                                    class="input "
                                    id="change-address"
                                    placeholder="우편번호를 입력해주세요">
                                    <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                                </div>
                                <button type="button" class="button button--outline">주소찾기</button>
                            </div>
                            <div class="group-button--column">
                                <div class="input-box group-button__base is-start">
                                    <input type="text"
                                    class="input"
                                    id="change-address"
                                    placeholder="주소를 입력해주세요">
                                    <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                                </div>
                                <div class="input-box group-button__base is-end">
                                    <input type="text"
                                    class="input"
                                    id="change-address"
                                    placeholder="상세주소를 입력해주세요">
                                    <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal__footer">
                        <button type="button" class="button--primary button--large"
                        id="">부서 추가하기</button>
                    </div>
                </div>
                `
                $('.main').append(html)
            }

            
        </script>

    </body>
    
</html>