<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정|요금제</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- tabs -->
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myInfo.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">요금제</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myPayHisInfo.html">결제 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myUseHisInfo.html">사용 내역</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myBrandingInfo.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /tabs -->
                        <div class="full-grid left-double">
                            <div class="card-wrap">
                                <div class="card">
                                    <div class="card__inner">
                                        <div class="card__header">
                                            <p class="font-weight--medium body--large">
                                                요금제를 선택하세요
                                            </p>
                                            <div class="control-form">
                                                <span>연간결제</span>
                                                <label class="is-small toggle">
                                                    <input type="checkbox" class="toggle__checkbox">
                                                    <span class="toggle__slider"></span>
                                                </label>
                                                <span>월간결제</span>
                                            </div>
                                        </div>
                                        <div class="table" id="price-list">
                                            <div class="table__thead">
                                                <div class="table__tr">
                                                    <div class="table__td width-40">
                                                        요금제
                                                    </div>
                                                    <div class="table__td width-20">
                                                        금액
                                                    </div>
                                                    <div class="table__td width-20">
                                                        서명건수
                                                    </div>
                                                    <div class="table__td width-20">
                                                        대량/링크/공문
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table__tbody">
                                                <div class="table__tr">
                                                    <div class="table__td width-40">
                                                        베이직
                                                    </div>
                                                    <div class="table__td width-20">
                                                        8,800원
                                                    </div>
                                                    <div class="table__td width-20">
                                                        10건
                                                    </div>
                                                    <div class="table__td width-20">
                                                        미제공
                                                    </div>
                                                </div>
                                                <div class="table__tr" >
                                                    <div class="table__td width-40">
                                                        비즈니스
                                                    </div>
                                                    <div class="table__td width-20">
                                                        33,000원
                                                    </div>
                                                    <div class="table__td width-20">
                                                        무제한
                                                    </div>
                                                    <div class="table__td width-20">
                                                        미제공
                                                    </div>
                                                </div>
                                                <div class="table__tr">
                                                    <div class="table__td width-40">
                                                        프리미엄
                                                    </div>
                                                    <div class="table__td width-20">
                                                        66,000원
                                                    </div>
                                                    <div class="table__td width-20">
                                                        무제한
                                                    </div>
                                                    <div class="table__td width-20">
                                                        200건
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /card -->
                                <div class="card">
                                    <div class="card__inner">
                                        <div class="card__header">
                                            <p class="font-weight--medium body--large">
                                                기업맞춤형
                                            </p>
                                            <button type="button" class="button button--text">
                                                상담하기
                                            </button>
                                        </div>
                                        <div class="flex--row">
                                            <div class="icon-with-text is-secondary">
                                                <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                                <p>맞춤형 요금제</p>
                                            </div>
                                            <div class="icon-with-text is-secondary">
                                                <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                                <p>조직관리</p>
                                            </div>
                                            <div class="icon-with-text is-secondary">
                                                <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                                <p>대량발송</p>
                                            </div>
                                            <div class="icon-with-text is-secondary">
                                                <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                                <p>링크발송</p>
                                            </div>
                                            <div class="icon-with-text is-secondary">
                                                <img src="/statics/icon/check-circle-line.svg" alt="" class="icon">
                                                <p>공문발송</p>
                                            </div>
                                        </div>
                                        <p class="is-remark">
                                            기업 이용 패턴에 맞게 직접 설계를 도와드립니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /card-wrap -->
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        <script src="/statics/js/common.js"></script>
        <script>
            $('.table__td').on('click',function(){
                location.href='/template/config/pricePayMembership.html'
            })
        </script>

    </body>
    
</html>