<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정|요금제</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- tabs -->
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/config/myInfo.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/companyInfo.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">요금제</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myPayHisInfo.html">결제 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/addressInfo.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/config/myBrandingInfo.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /tabs -->
                        <div class="full-grid">
                            <div class="card">
                                <!-- 요금제 -->
                                <div class="card__row">
                                    <p class="is-remark">
                                        요금제
                                    </p>
                                    <div class="control-form">
                                        <span>연간</span>
                                        <label class="is-small toggle">
                                            <input type="checkbox" class="toggle__checkbox">
                                            <span class="toggle__slider"></span>
                                        </label>
                                        <span>월간</span>
                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__row ">
                                        <p>Premium (월간결제) </p>
                                        <p>39,000원</p>
                                    </div>
                                </div>
                                
                                <div class="select-box">
                                    <div class="select-box__select">
                                        <p>coupon a</p>
                                        <img src="/statics/icon/angle-down.svg" class="icon">
                                    </div>
                                    <ul class="select-box__option">
                                        <li>coupon a </li>
                                        <li>coupon b </li>
                                        <li>coupon c </li>
                                        <li>coupon d </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /card -->
                            <!-- card -->
                            <div class="card">
                                <div class="card__content">
                                    <p class="is-remark">
                                        결제상세
                                    </p>
                                    <ul class="checkbox-wrap">
                                        <li class="checkbox__item margin-bottom--medium " >
                                           <p>최종결제금액</p>
                                           <p class="is-accent body--large">30,000원</p>
                                        </li>

                                        <li class="checkbox__item">
                                            <p class="is-remark">상품금액</p>
                                            <p class="is-remark">30,000원</p>
                                        </li>

                                        <li class="checkbox__item">
                                            <p class="is-remark">할인금액</p>
                                            <p class="is-remark">0원</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 라디오 카드, 실시간계좌이제, 가상계좌이체 라디오 추가-->
                            </div>
                            <!-- /card -->
                            <div class="card is-column-full">
                                <div class="card__row">
                                    <a href="javascript:void(0)" class="button button--text">이전</a>
                                    <button type="button" class="button button--primary">결제하기</button>
                                </div>
                            </div>
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        <script src="/statics/js/common.js"></script>
        <script>
            $('.icon-button').on('click',function(){
                let button = $(this).attr('id').split('-').pop()
                let input = $(this).siblings('.input')
                let value = Number(input.val())

                if(button == 'plus' && value > 0){
                    value = value + 10
                }
                else if(button == 'minus' && value > 10){
                    value = value - 10
                }

                input.val(value)
            })

            function totalPayment(){

            }
            
        </script>

    </body>
    
</html>