<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>외부계약서 | 계약서 업로드</title>
    </head>

    <body>
        <!-- <div class="wrapper"> -->
            <!-- 상단 헤더 -->
            <div class="template-header" id="doc-header">
                <div class="container">
                    <a href="/template/linkContract/linkContractList.html" type="button" class="button button--text">
                        <img src="/statics/icon/angle-left.svg" class="icon">
                        홈으로
                    </a>
                    <ul class="flex--row header-step">
                        <li class="header-step__item is-active">
                            <a href="javascript:void(0)">
                                <span>1</span>계약서 업로드
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="javascript:void(0)">
                                <span>2</span>계약 정보 입력
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="/template/externalDocument/externalSignature.html">
                                <span>3</span>서명자 정보 입력
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="/template/externalDocument/externalContract.html">
                                <span>4</span>저장 및 등록
                            </a>
                        </li>
                    </ul>
                    <div>&nbsp;</div>
                </div>
            </div>
            <!-- // 상단헤더 -->
            <main class="main main--background padding-vertical--xxl">
                
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- top -->
                        <div class="file-area">
                            <label for="upload-file" class="file-area__label">
                                <input type="file"
                                id="upload-file" class="file-area__input"
                                accept=".jpg, .png, .jpeg, .hwp, .doc, .pdf">    
                            </label>
                            <div class="flex--column">
                                <p class="font-weight--medium">
                                    파일 중 계약서를 선택해주세요. 
                                </p>
                                <p class="is-remark">
                                    계약서는 1개만 지정 가능하며,
                                    계약에 관련된 첨부파일도 업로드 가능합니다.
                                </p>
                            </div>
                        </div>
                        <!-- /tabs -->
                        
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
                <div class="template-footer">
                    <div class="container">
                        <div>&nbsp;</div>
                        <div class="flex--row flex-justify--center">
                            <a href="/template/externalDocument/externalDocumentList.html"
                            class="button is-large button--text">이전</a>
                            <button type="button" class="button is-large button--primary">
                                다음
                            </button>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            <!-- </div> -->
            </main>
            
        <script src="/statics/lib/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
        <script>
            $('html').attr('data-theme',localStorage.getItem('data-theme'))


            // 이거 좀더 고민해보기
            function loadFancyUpload(){
                $('#upload-file').FancyFileUpload({
                // 'url' : '',
                // 'params' : {},
                'edit' : false,                      // 업로드한 파일의 이름 변경
                'maxfilesize' : 10000000,            // 최대 10MB
                // 'accept' : null,
                'displayunits' : 'si',              // 'iec_windows', 'iec_formal', or 'si'
                'adjustprecision' : true,           // 파일 크기를 표시할 때 최종 정밀도 조정
                'retries' : 5,
                'retrydelay' : 500,
                'showpreview' : function(e, data, preview, previewclone) {},
                'hidepreview' : function(e, data, preview, previewclone) {},
                'added' : function(e, data) {

                },
                // 'startupload' : function(SubmitUpload, e, data){
                //     console.log('start upload')
                // },
                // 'continueupload' : function(e, data) {
                //     console.log('continue upload')
                // },
                // 'uploadcancelled' : function(e, data) {
                //     console.log('upload cancel')
                // },
                // 'uploadcompleted' : function(e, data) {
                //     console.log('upload completed')
                // },
                // 'fileupload' : {
                //     function(e,data){
                //         console.log(fileupload)
                //     }
                // },
                });
            }
            loadFancyUpload()
    

            
        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>