<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <link rel="stylesheet" href="/statics/lib/Datetime-Picker/css/datetimepicker.css">
        <title>외부계약서 | 계약서 업로드</title>
    </head>

    <body>
        <!-- <div class="wrapper"> -->
            <!-- 상단 헤더 -->
            <div class="template-header" id="doc-header">
                <div class="container">
                    <a href="/template/linkContract/linkContractList.html" type="button" class="button button--text">
                        <img src="/statics/icon/angle-left.svg" class="icon">
                        홈으로
                    </a>
                    <ul class="flex--row header-step">
                        <li class="header-step__item is-active">
                            <a href="javascript:void(0)">
                                <span>1</span>계약서 업로드
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="javascript:void(0)">
                                <span>2</span>계약 정보 입력
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="javascript:void(0)">
                                <span>3</span>서명자 정보 입력
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="javascript:void(0)">
                                <span>4</span>저장 및 등록
                            </a>
                        </li>
                    </ul>
                    <div>&nbsp;</div>
                </div>
            </div>
            <!-- // 상단헤더 -->
            <main class="main main--background padding-vertical--xxl">
                
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="card">
                            <div class="card__inner">
                                <div class="file-area">
                                    <label for="upload-file" class="file-area__label">
                                        <input type="file"
                                        id="upload-file" class="file-area__input"
                                        accept=".jpg, .png, .jpeg, .hwp, .doc, .pdf">    
                                    </label>
                                    <div class="flex--column">
                                        <p class="font-weight--medium">
                                            파일 중 계약서를 선택해주세요. 
                                        </p>
                                        <p class="is-remark">
                                            계약서는 1개만 지정 가능하며,
                                            계약에 관련된 첨부파일도 업로드 가능합니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__inner">
                                <div class="input-area">
                                    <label for="" class="is-remark">
                                        계약서 이름 
                                        <span class="is-primary">*</span>
                                    </label>
                                    <div class="input-box flex--row is-change">
                                        <input type="text" placeholder="" class="input">
                                    </div>
                                </div>
                                <div class="date-time-picker width-100"></div>
                                <input type="hidden" id="" readonly >

                            </div>
                        </div>
                        
                        
                        <!-- card -->
                        <div class="card" data-id="0">
                            <div class="card__inner">
                                <div class="card__header">
                                    <p class="">서명자</p>
                                    <button type="button" class="button button--text is-small is-accent">삭제</button>
                                </div>
                                <div class="round-input width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>개인</p>
                                            <img class="select-box__icon icon" src="/statics/icon/angle-line.svg" alt="화살표">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>개인</li>
                                            <li>기업</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="홍길동"
                                    class="round-input__input input">
                                </div>
                                <div class="round-input width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>이메일</p>
                                            <img
                                            src="/statics/icon/angle-top.svg"
                                            class="select-box__icon  icon">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>이메일</li>
                                            <li>휴대전화</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="01012345678"
                                    class="round-input__input input">
                                </div>
                                <textarea class="textarea" placeholder="서명 대상자에게 남길 말을 입력해주세요." rows="4"maxlength="200"></textarea>
                                <!-- 상대측 체크박스 빠질 수 있음 -->
                                <div class="control-form">
                                    <input type="checkbox" class="checkbox"
                                    id="contract__1">
                                    <label for="contract__1">상대측</label>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <div id="add-signature" 
                         class="card flex-align--center">
                            <button type="button" 
                            class="button is-large button--text">
                                <img src="/statics/icon/plus-circle-line.svg" 
                                class="icon">
                                서명자 추가하기
                            </button>
                        </div>
                        
                        <div class="card">
                            <div class="card__inner">
                                <div class="input-area">
                                    <label for="" class="is-remark">
                                        계약서 이름 
                                        <span class="is-primary">*</span>
                                    </label>
                                    <div class="input-box flex--row is-change">
                                        <input type="text" placeholder="" class="input"
                                        value="indertds" disabled>
                                        <button type="button" 
                                        id=""
                                        class="button button--secondary">수정하기</button>
                                    </div>
                                </div>
                                <div class="flex--row flex-justify--between">
                                    <p class="">계약서가 <span class="is-accent">기본폴더</span>에 저장됩니다.</p>
                                    <button type="button" class="button button--outline">
                                        <img src="/statics/icon/folder-line.svg" alt="" class="icon">
                                        폴더변경
                                    </button>
                                </div>
                                <div class="flex--column gap--sm">
                                    <p class="is-remark">서명 기간 <span class="is-primary">*</span></p>
                                    <div class="control-form">
                                        <p>서명 발송일로부터</p>
                                        <input type="number" class="input is-small is-narrow" maxlength="365"
                                        value="14">
                                        <p>일 동안 서명을 받습니다.</p>
                                    </div>
                                    <p class="is-remark text-align--right">서명 만료일: <span>2022-12-31</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__inner">
                                <div class="card__header">
                                    <p class="is-remark">중복서명여부</p>
                                    <label class="is-small toggle">
                                        <input type="checkbox" class="toggle__checkbox" checked>
                                        <span class="toggle__slider"></span>
                                    </label>
                                </div>
                                <p class="is-remark">
                                    한 서명자는 최대 30번까지 중복 서명할 수 있습니다.
                                </p>
                                <div class="state-box is-info">
                                    <img src="/statics/icon/info-circle-line.svg"
                                    class="icon is-secondary">
                                    <p class="">링크 생성 이후 수정할 수 없습니다.
                                    </p>
                                </div>
                                <div class="group-button is-small ">
                                    <button type="button"
                                    class="icon-button group-button__base is-start" id="input-minus">
                                        <img class="icon" src="/statics/icon/minus-line.svg" alt="빼기">
                                    </button>
                                    <input type="number" value="10" readonly
                                    class="input group-button__base is-middle width-100">
                                    <button type="button"
                                    class="icon-button group-button__base is-end" id="input-plus">
                                        <img class="icon" src="/statics/icon/plus-line.svg" alt="더하기">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__inner">
                                <div class="accordion is-active">
                                    <div class="accordion__header">
                                        <p>기타 설정</p>
                                        <button type="button" class="icon-button">
                                            <img src="/statics/icon/angle-top.svg" class="icon">
                                        </button>
                                    </div>
                                    <div class="accordion__body">
                                        <div class="flex--column">
                                            <p class="is-remark">남길말 (선택)</p>
                                            <textarea class="textarea" placeholder="서명 대상자에게 남길 말을 입력해주세요." rows="4"maxlength="200"></textarea>
                                        </div>
                                        <div class="flex--column">
                                            <div class="control-form flex-justify--between">
                                                <label for="">서명완료 메일을 매회 수신합니다</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                            <p class="is-remark">서명자가 서명을 할 때마다 서명 완료 메일을 받을 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__inner">
                                <ul class="checkbox-wrap">
                                    <li class="checkbox__item">
                                        <label for="checkbox-all"
                                        class="margin-bottom--medium font-weight--medium">
                                            전체동의
                                        </label>
                                        <input type="checkbox" id="" class="checkbox checkbox-all">
                                    </li>
                                    <li class="checkbox__item">
                                        <label for="" class="flex--row flex-align--center">
                                            <span class="font-weight--medium">필수</span>
                                            개인정보 수집에 동의합니다
                                            <img class="icon" src="/statics/icon/angle-right.svg">
                                        </label>
                                        <input type="checkbox" class="checkbox" required>
            
                                    </li>
                                    <li class="checkbox__item">
                                        <label for="" class="flex--row flex-align--center">
                                            <span class="font-weight--medium">필수</span>
                                            계약 건수 1회가 차감됩니다
                                            <img class="icon" src="/statics/icon/angle-right.svg">
                                        </label>
                                        <input type="checkbox" class="checkbox" required>
                                    </li>
                                </ul>  
                            </div>
                        </div>
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
                <div class="template-footer">
                    <div class="container">
                        <div>&nbsp;</div>
                        <div class="flex--row flex-justify--center">
                            <a href="/template/externalDocument/externalDocumentList.html"
                            class="button is-large button--text">이전</a>
                            <button type="button" class="button is-large button--primary">
                                다음
                            </button>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            <!-- </div> -->
            </main>
            
            <script src="/statics/lib/moment/min/moment-with-locales.min.js"></script>
            <script src="/statics/lib/Datetime-Picker/js/datetimepicker.js"></script>
            <script>
                $(function(){
                    let width = $('#date-time-picker').width()
                    let rem = 14 + ($(document).width() * 0.001)
    
    
                    // right fix하는 방법 찾아보기
                    /*
                        viewport width 구해서
                        left 변수로 저장해서 계산식 적용하기

                        flex test 필요
                    */
                    $('.date-time-picker').dateTimePicker({
                        dateFormat:"YYYY-MM-DD HH:mm",
                        locale:"ko",
                        showTime:false,
                        selectData:'now',
                        positionShift:{
                            top:0,
                            left:0,
                        },
                        title:"예약시간을 설정해주세요",
                        buttonTitle:"확인",
                    })
                })
            </script>
        <script src="/statics/lib/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
        <script>
           let dataTheme = localStorage.getItem('data-theme');
            if(dataTheme == undefined || null || 'null') dataTheme = 'light'
            $('html').attr('data-theme',dataTheme)



            // 이거 좀더 고민해보기
            function loadFancyUpload(){
                $('#upload-file').FancyFileUpload({
                // 'url' : '',
                // 'params' : {},
                'edit' : false,                      // 업로드한 파일의 이름 변경
                'maxfilesize' : 10000000,            // 최대 10MB
                // 'accept' : null,
                'displayunits' : 'si',              // 'iec_windows', 'iec_formal', or 'si'
                'adjustprecision' : true,           // 파일 크기를 표시할 때 최종 정밀도 조정
                'retries' : 5,
                'retrydelay' : 500,
                'showpreview' : function(e, data, preview, previewclone) {},
                'hidepreview' : function(e, data, preview, previewclone) {},
                'added' : function(e, data) {

                },
                // 'startupload' : function(SubmitUpload, e, data){
                //     console.log('start upload')
                // },
                // 'continueupload' : function(e, data) {
                //     console.log('continue upload')
                // },
                // 'uploadcancelled' : function(e, data) {
                //     console.log('upload cancel')
                // },
                // 'uploadcompleted' : function(e, data) {
                //     console.log('upload completed')
                // },
                // 'fileupload' : {
                //     function(e,data){
                //         console.log(fileupload)
                //     }
                // },
                });
            }
            loadFancyUpload()
    

            
        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>