<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>외부계약서 | 서명자 정보 입력</title>
    </head>

    <body>
        <!-- <div class="wrapper"> -->
            <!-- 상단 헤더 -->
            <div class="template-header" id="doc-header">
                <div class="container">
                    <a href="/template/linkContract/linkContractList.html" type="button" class="button button--text">
                        <img src="/statics/icon/angle-left.svg" class="icon">
                        홈으로
                    </a>
                    <ul class="flex--row header-step">
                        <li class="header-step__item ">
                            <a href="/template/externalDocument/externalDocumentUpload.html">
                                <span>1</span>계약서 업로드
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="javascript:void(0)">
                                <span>2</span>계약 정보 입력
                            </a>
                        </li>
                        <li class="header-step__item is-active">
                            <a href="/template/externalDocument/externalSignature.html">
                                <span>3</span>서명자 정보 입력
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="/template/externalDocument/externalContract.html">
                                <span>4</span>저장 및 등록
                            </a>
                        </li>
                    </ul>
                    <div>&nbsp;</div>
                </div>
            </div>
            <!-- // 상단헤더 -->
            <main class="main main--background padding-vertical--xxl">
                
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- card -->
                        <div class="card" data-id="0">
                            <div class="card__content">
                                <div class="card__row">
                                    <p class="">서명자</p>
                                    <button type="button" class="button button--text is-small is-accent">삭제</button>
                                </div>
                                <div class="round-input width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>개인</p>
                                            <img class="select-box__icon icon" src="/statics/icon/angle-line.svg" alt="화살표">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>개인</li>
                                            <li>기업</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="홍길동"
                                    class="round-input__input input">
                                </div>
                                <div class="round-input width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>이메일</p>
                                            <img
                                            src="/statics/icon/angle-top.svg"
                                            class="select-box__icon  icon">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>이메일</li>
                                            <li>휴대전화</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="01012345678"
                                    class="round-input__input input">
                                </div>
                                <textarea class="textarea" placeholder="서명 대상자에게 남길 말을 입력해주세요." rows="4"maxlength="200"></textarea>
                                <!-- 상대측 체크박스 빠질 수 있음 -->
                                <div class="control-form">
                                    <input type="checkbox" class="checkbox"
                                    id="contract__1">
                                    <label for="contract__1">상대측</label>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <div id="add-signature" 
                         class="card flex-align--center">
                            <button type="button" 
                            class="button is-large button--text">
                                <img src="/statics/icon/plus-circle-line.svg" 
                                class="icon">
                                서명자 추가하기
                            </button>
                        </div>
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
                <div class="template-footer">
                    <div class="container">
                        <div>&nbsp;</div>
                        <div class="flex--row flex-justify--center">
                            <a 
                    href="/template/externalDocument/externalDocumentList.html"
                            class="button is-large button--text">이전</a>
                            <button type="button"
                            class="button is-large button--primary">
                                다음
                            </button>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            <!-- </div> -->
            </main>
            
        <script>
           let dataTheme = localStorage.getItem('data-theme');
            if(dataTheme == undefined || null || 'null') dataTheme = 'light'
            $('html').attr('data-theme',dataTheme)


           $('#add-signature').on('click',function(){
                $(this).before(`
                <div class="card" data-id="0">
                    <div class="card__content">
                        <div class="card__row">
                            <p class="">서명자</p>
                            <button type="button"
                            class="button button--text is-small is-accent">
                                삭제
                            </button>
                        </div>
                        <div class="round-input width-100">
                            <div class="select-box">
                                <div class="select-box__select">
                                    <p>개인</p>
                                    <img class="select-box__icon icon"
                                    src="/statics/icon/angle-line.svg"
                                    alt="화살표">
                                </div>
                                <ul class="select-box__option">
                                    <li>개인</li>
                                    <li>기업</li>
                                </ul>
                            </div>
                            <input type="text" maxlength="64"
                            placeholder="홍길동"
                            class="round-input__input input">
                        </div>
                        <div class="round-input width-100">
                            <div class="select-box">
                                <div class="select-box__select">
                                    <p>이메일</p>
                                    <img
                                    src="/statics/icon/angle-top.svg"
                                    class="select-box__icon  icon">
                                </div>
                                <ul class="select-box__option">
                                    <li>이메일</li>
                                    <li>휴대전화</li>
                                </ul>
                            </div>
                            <input type="text" maxlength="64"
                            placeholder="01012345678"
                            class="round-input__input input">
                        </div>
                        <textarea class="textarea" placeholder="서명 대상자에게 남길 말을 입력해주세요." rows="4"maxlength="200"></textarea>
                        <!-- 상대측 체크박스 빠질 수 있음 -->
                        <div class="control-form">
                            <input type="checkbox" class="checkbox"
                            id="contract__1">
                            <label for="contract__1">상대측</label>
                        </div>
                    </div>
                </div>
                `)
           })

            
        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>