<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>템플릿 | 서명자 정보 입력</title>
    </head>

    <body>
        <!-- <div class="wrapper"> -->
            <!-- 상단 헤더 -->
            <div class="template-header">
                <div class="container">
                    <a href="/template/template/templateList.html" type="button" class="button button--text">
                        <img src="/statics/icon/angle-left.svg" class="icon">
                        홈으로
                    </a>
                    <ul class="flex--row header-step">
                        <li class="header-step__item is-active">
                            <a href="javascript:void(0)">
                                <span class="header-step__number">
                                    1
                                </span>
                                <span class="header-step__title">
                                    서명자 정보 입력
                                </span>
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="javascript:void(0)">
                                <span class="header-step__number">
                                    2
                                </span>
                                <span class="header-step__title">
                                    서명 영역 지정
                                </span>
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="/template/template/templateContract.html">
                                <span class="header-step__number">
                                    3
                                </span>
                                <span class="header-step__title">
                                    템플릿 설정
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // 상단헤더 -->
            <main class="main main--background padding-vertical--xxl">
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- top -->
                        <div class="card">
                            <div class="card__inner">
                                <ul class="flex--row  flex-justify--between">
                                    <li class="control-form">
                                        <span>순서없이</span>
                                        <label class="is-small toggle">
                                            <input type="checkbox" class="toggle__checkbox" checked>
                                            <span class="toggle__slider"></span>
                                        </label>
                                        <span class="">순서대로</span>
                                    </li>
                                    
                                    <li class="control-form">
                                        <img src="/statics/icon/world-line.svg" class="icon" alt="언어 변경">
                                        <p>한국어</p>
                                    </li>
                                </ul>
                                <p class="is-remark"> * 각 서명자를 드래그하여 순서를 변경할 수 있습니다. </p>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="card" data-id="0">
                            <div class="card__inner">
                                <div class="card__header">
                                    <p class="">1번 서명자</p>
                                    <button type="button" class="button button--text is-small is-accent">삭제</button>
                                </div>
                                <div class="round-input width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>개인</p>
                                            <img src="/statics/icon/angle-top.svg"
                                            class="select-box__icon icon">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>개인</li>
                                            <li>기업</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="홍길동"
                                    class="round-input__input input">
                                </div>
                                <div class="round-input width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>이메일</p>
                                            <img src="/statics/icon/angle-top.svg"
                                            class="select-box__icon  icon">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>이메일</li>
                                            <li>휴대전화</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="01012345678"
                                    class="round-input__input input">
                                </div>
                            </div>
                        </div>
                        <!-- /card -->

                        <!-- card -->
                        <div class="card" data-id="1">
                            <div class="card__inner">
                                <div class="card__header">
                                    <p class="">두 번째 서명자</p>
                                    <button type="button" class="button button--text is-small is-accent">삭제</button>
                                </div>
                                <div class="round-input width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>개인</p>
                                            <img src="/statics/icon/angle-top.svg"
                                            class="select-box__icon icon">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>개인</li>
                                            <li>기업</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="홍길동"
                                    class="round-input__input input">
                                </div>
                                <div class="round-input  width-100">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>이메일</p>
                                            <img src="/statics/icon/angle-top.svg"
                                            class="select-box__icon  icon">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>이메일</li>
                                            <li>휴대전화</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="64"
                                    placeholder="01012345678"
                                    class="round-input__input input">
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <div id="add-signature"
                        class="card ">
                            <div class="card__inner flex-align--center">
                                <button type="button"  class="button is-large button--text">
                                    <img src="/statics/icon/plus-circle-line.svg" class="icon">
                                    서명자 추가하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /main-content -->
                    
                <!-- /container -->
            </main>
            <div class="template-footer">
                <div class="container">
                    <div></div>
                    <div class="flex--row flex-justify--center">
                        <a href="/template/template/templateList.html"
                            class="button is-large button--text">이전</a>
                        <button type="button" class="button is-large button--primary">다음</button>
                    </div>
                    <div></div>
                </div>
                
            </div>
        <!-- </div> -->
        <script>
            $('html').attr('data-theme','light')


            $('#add-signature').on('click',function(){
                $(this).before(`
                <div class="card" data-id="0">
                    <div class="card__inner">
                        <div class="card__header">
                            <p class="">서명자</p>
                            <button type="button"
                            class="button button--text is-small is-accent">
                                삭제
                            </button>
                        </div>
                        <div class="round-input width-100">
                            <div class="select-box">
                                <div class="select-box__select">
                                    <p>개인</p>
                                    <img class="select-box__icon icon"
                                    src="/statics/icon/angle-line.svg"
                                    alt="화살표">
                                </div>
                                <ul class="select-box__option">
                                    <li>개인</li>
                                    <li>기업</li>
                                </ul>
                            </div>
                            <input type="text" maxlength="64"
                            placeholder="홍길동"
                            class="round-input__input input">
                        </div>
                        <div class="round-input width-100">
                            <div class="select-box">
                                <div class="select-box__select">
                                    <p>이메일</p>
                                    <img
                                    src="/statics/icon/angle-top.svg"
                                    class="select-box__icon  icon">
                                </div>
                                <ul class="select-box__option">
                                    <li>이메일</li>
                                    <li>휴대전화</li>
                                </ul>
                            </div>
                            <input type="text" maxlength="64"
                            placeholder="01012345678"
                            class="round-input__input input">
                        </div>
                        <!-- 상대측 체크박스 빠질 수 있음 -->
                    </div>
                </div>
                `)
           })

        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>