@import url('/statics/css/reset.css');
@import url('/statics/css/common.css?v=2');
@import url('/statics/css/layout.css');
@import url("/statics/css/font/web/static/pretendard.css");

/* title-box */
.title-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title-box__title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* checkbox, radio form */
.control-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.control-form__label{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: .5em;
}

.control-form__label .icon[src*="angle"]{
    transform: rotate(90deg);
    width: 1rem;
    height: 1rem;
}


/* table (ul + li) */
.table{
    display: table;
    table-layout: fixed;
    width: 100%;
    color: var(--text-color-800);
}
.table__colgroup{
    display: table-column-group;
}
.table__col{
    display: table-column;
}
.table__paging{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.table__paging .select-box{
    position: absolute;
    right: 2rem;
}


.table__thead{
    display: table-header-group;
    flex-direction: row;
    
    color: var(--text-color-400);
    font-size: var(--text-small);
}
.table__tbody{
    display: table-row-group;
}
.table__tr{
    display:table-row;
    position: relative;
}
.table__tr--right{
    display: grid;
    align-self: center;
}
/* 
.table__tr [class*='flex--']{
    gap: 0;
} */


.table__tbody .table__tr:hover{
    cursor: pointer;
    transform: translateY(-.25rem);
    box-shadow: var(--box-shadow--3);
    transition: .3s;
}
.table__tr.is-active{
    transform: translateY(-.25rem);
    box-shadow: var(--box-shadow--3);
    background: var(--theme-color-200);
}

.table__td{
    padding: 0.75rem 1rem;
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid var(--theme-color-400);
}

.table__td:last-child {
    text-align: center;
}
.table__td:last-of-type * {
    margin: auto;

}


.table__td .checkbox{
    display: inline-block;
}

.table__td--title{
    font-weight: 500;
    width: 100%;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.list-modal{
    border-radius: .5rem;
    background: var(--background-color);
    color: var(--text-color-800);

    position: absolute;
    right: 0;
    top: 100%;
    min-width: 8rem;
    max-width: 10rem;

    border: 1px solid var(--theme-color-400);
    box-shadow: var(--box-shadow--3);

    z-index: 10;
    padding: 1rem;
}

.table__tbody .table__tr .button--outline{
    position: relative;
}


.list-modal li{
    padding: .5em 0;
}  

.list-modal li:hover{
    background:var(--theme-color-100);
}


/* table-top */
.table-top{
    padding: 0 .5em;
}
.table-top.is-active{
    background: var(--theme-color-100);
}

.table-top__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 2rem;

    justify-content: space-between;
}

.table-top__tab .tab__item{
    margin-right: 1.75rem;
}

@media all and (max-width:768px){
    
    .table-top__box{
        flex-direction: column-reverse;
    }
    
    [class*="table__"]:not(.table__td){
        display: flex;
        flex-direction: column;
    }
    .table__thead{
        display: none!important;
    }
    .table__tr{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1rem 0.5rem;
    }
    
    .table__tr .checkbox{
        display: none;
    }
    .table__td{
        padding: .5rem;
        border-bottom: 0;
    }
    .table__td:last-child{
        height: auto;
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .table-top .button{
        width: 100%;
        justify-content: flex-end;
    }
    .table-top__tab {
        width: 100%;
    }

    
}


.state{
    display: inline-flex;
    gap: .5em;
    align-items: center;
}

.state.success{
    filter: var(--filter-success);
}

.state.ban{
    filter: var(--filter-text-400);
}

/* search-form */
.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
}
.search-form__form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-form__input{
    border-radius: .5rem 0 0 .5rem;
}
.search-form__button{
    border-radius: 0 .5rem .5rem 0;
    border-left: 0;
    background-color: var(--theme-color-100);
}
.search-form__button .icon{
    filter: var(--filter-text-400);
}



/* modal */
.modal,.popup{
    background:var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 0;

    position: fixed;
    z-index: 99;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1rem;
    overflow: hidden;

    border: 1px solid var(--theme-color-400);
    box-shadow: var(--box-shadow--5);
}

.modal{
    min-width: 30rem; /*480px*/
    max-width: 50rem; /*800px*/
    max-height:37.5rem; /*600px*/
}
.modal__header{
    padding: 0 2rem;
    height: 5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--theme-color-400);
}
.modal__close-button{
    filter: var(--filter-text-400);
    width: 2rem;
    height: 2rem;

    cursor: pointer;
}
.modal__close-button:hover{
    filter: var(--filter-text-800);
    transition: .3s;
}

.modal__title{
    font-weight: 500;
    font-size: var(--text-large);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.modal__content{
    padding: 2rem 2rem;
    max-height:27.5rem;
    overflow-y: scroll;
}

.modal__search-form{
    position: relative;
    margin-bottom: 2rem;
}

.modal__search-form .input{
    padding-left: 3rem;
}
.modal__search-form .icon{
    position: absolute;
    left: 1rem;
    top: 50%; transform: translateY(-50%);
    filter: var(--filter-text-400);
}

.modal__list{
    display: flex;
    flex-direction: column;
    gap:.5rem
}
.modal__list .list-item{
    padding: .5rem 1.25rem;
}
.modal__list .list-item .icon{
    filter: var(--filter-text-400);
}
.modal__list .list-item[data-id="*"]{
    font-weight: bold;
}

.modal__list li.is-active{
    font-weight: 500;
    background:var(--theme-color-100);
}
.modal__list li.is-active .icon{
    filter: var(--filter-text-800);
}

.modal__list li:hover{
    background: var(--theme-color-100);
}

.modal__button-wrap{
    display: inline-flex;
    height: 3.5rem;
}
.modal__button-wrap button{
    width: 100%;
    height: 100%;
}

@media all and (max-width:768px){
    .modal{
        position: fixed;
        width:calc(100vw - 2rem);
        min-width: unset;
        max-width:unset;
    }
    .modal__header{
        padding: 0 1rem;
    }
    .modal__content{
        padding: 2rem 1rem;
    }
}


/* popup */
.popup{
    width: 30rem; /*480px*/
}
.popup__content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.popup__footer{
    border-top: 1px solid var(--theme-color-400);
    padding: 0 2rem;
    height: 3.5rem; /*56px*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aside-content{
    width: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: width .3s ease-in-out ;
}
.aside-content .container{
    min-height: 100vh;
}
.aside-content .inner{
    background:var(--theme-color-100);
    padding: 1rem .5rem;
}
.aside-content.is-active{
    width: 20rem;
    transform: scaleX(1);
    transform-origin: right;
    transition: width .3s ease-in-out ;
}

@media all and (max-width:768px){
    .aside-content{
        position: absolute;
        right: 0;;
        top: 10rem;
        max-width: max(80vw, calc(100vw - 2rem));
        height: 100%;
        background: var(--background-color);
    }
}


.doc-search{
    display: inline-flex;
    align-items: center;
    background: var(--theme-color-100);
    border-radius: 99rem;

    width: 100%;
    max-width: 20rem;
    height: 2rem;
}
.doc-search__input{
    border: 0;
}

@media all and (max-width:1280px){
    .doc-search{
        max-width: unset;
        height: 2.5rem;
    }
}

.basic-button-wrap{
    display: inline-flex;
    gap: 1rem;
}

.basic-button-wrap .button{
    width: 100%;
}

@media all and (max-width:768px){
    .basic-button-wrap{
       flex-direction: column;
    }
}

.icon-with-text{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

[id^="sns-"]{
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    height: 2rem;
    padding: .5rem;
}

[id^="sns-"] img{
    width: 1.25rem;
    margin-right: 1.5rem;
}
[id^="sns-"] span{
    font-size: var(--text-small);
    font-weight: 500;
}
#sns-naver{
    background: #03c75a;
}
#sns-naver span{
    color: white;
}

#sns-kakao{
    background: #FEE500;
}

#sns-kakao span{
    color: rgba(0,0,0,85);
}

@media all and (max-width:768px){
    [id^="sns-"]{
        justify-content: center;
    }
}

.card-wrap{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.card{
    border: 1px solid var(--theme-color-400);
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card__row,
.card__desc{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.card__desc{
    gap: 2rem;
}
.card__row.is-end{
    justify-content: flex-end;
}

@media all and (max-width:768px){
    .card{
        padding: 1rem;
    }

    .card__row.is-change{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 1rem;

    }

    .card__desc{
        margin-bottom: 1rem;

    }
    .card__row .card__desc{
        width: 100%;
        justify-content: space-between;
    }
}

/* jstree */
/* .jstree-icon{
    background-size: contain!important;
} */
.jstree-default .jstree-search {
    width: 100%;
    background: var(--theme-color-100);
    color: var(--text-color-800);
    font-style: normal;
    font-weight: 500;
}

@media all and (max-width:768px){
    #mobile-aside-container{
        position: absolute;
        top: 0;
        right: 0;
        max-width: 80vw;
        height: 100vh;
        background: var(--background-color);
        z-index: 99;
        border-radius: 0;   
        overflow-y: hidden;
    }

    #mobile-aside-container .table,
    #mobile-aside-container .table__tbody{
        height: 100%;
        overflow-y: scroll;
    }
    
}
