:root{
    --white: #fff;

    --text-small:0.875rem;
    --text-large:1.333rem;

    
    --primary-color-500:#EE3649;

    --secondary-color-500:#385179;
    
    --focus-color-500:#00A2ED;

    --success-color-500:#F8AF1D;

    --filter-primary:invert(31%) sepia(46%) saturate(6438%) hue-rotate(339deg) brightness(100%) contrast(87%);
    --filter-secondary: invert(29%) sepia(14%) saturate(1806%) hue-rotate(178deg) brightness(92%) contrast(86%);
    --filter-focus:invert(48%) sepia(70%) saturate(2205%) hue-rotate(168deg) brightness(96%) contrast(101%);
    --filter-success:invert(71%) sepia(96%) saturate(1039%) hue-rotate(344deg) brightness(99%) contrast(96%);
    --filter-white: invert(99%) sepia(83%) saturate(738%) hue-rotate(210deg) brightness(122%) contrast(99%);

    --header-height: 5rem
}

@media all and (max-width:768px){
    :root{
        --header-height:4rem
    }
}

html[data-theme='light']{
    --background-color:#fff;

    --text-color-400:#808080;
    --text-color-600:#5A5A5A;
    --text-color-800:#333333;

    --primary-color-10:#FDEBED;
    --primary-color-50:#FBD0D4;
    --primary-color-400:#F15565;

    --secondary-color-10:#EBEEF2;
    --secondary-color-50:#DCE3EF;
    --secondary-color-400:#4A6BA0;

    --focus-color-50:#DCE3EF;
    --focus-color-400:#33BEFF;
   
    --filter-text-400:invert(63%) sepia(8%) saturate(13%) hue-rotate(323deg) brightness(97%) contrast(81%);
    --filter-text-600:invert(36%) sepia(0%) saturate(561%) hue-rotate(167deg) brightness(96%) contrast(93%);
    --filter-text-800:invert(18%) sepia(7%) saturate(18%) hue-rotate(336deg) brightness(88%) contrast(88%);

    --theme-color-50:#fcfcfd;
    --theme-color-100:#f5f6f7;
    --theme-color-200:#f0f2f4;
    --theme-color-300:#eaecee;
    --theme-color-400:#e5e8eb;
    --theme-color-500:#dfe2e6;
    --theme-color-600:#cbced1;
    --theme-color-700:#9ea0a3;
    --theme-color-800:#7b7c7f;
    --theme-color-900:#5e5f61;

    --box-shadow--3: 0 0.75rem 1.5rem 0 rgba(94,95,97,0.1);
    --box-shadow--5: 0 2rem 3rem 0 rgba(94,95,97,0.1);

    --filter-shadow-3:drop-shadow(0 0.75rem 1.5rem 0 rgba(94,95,97,0.1));

    --dim:rgba(0,0,0,0.25);

}

html[data-theme='dark']{
    --background-color:#111;

    --text-color-400:#A6A6A6;
    --text-color-600:#CCCCCC;
    --text-color-800:#F2F2F2;

    --primary-color-10:rgba(238, 54, 73, 0.05);
    --primary-color-50:rgba(238, 54, 73, 0.1);
    --primary-color-400:rgba(238, 54, 73, 0.82);

    --secondary-color-10:rgba(56, 81, 121, 0.05);
    --secondary-color-50:rgba(56, 81, 121, 0.1);
    --secondary-color-400:rgba(56, 81, 121, 0.82);

    --focus-color-50:rgba(53, 165, 238, 0.1);
    --focus-color-400:rgba(53, 165, 238, 0.82);

    --filter-text-400:invert(81%) sepia(4%) saturate(6%) hue-rotate(320deg) brightness(86%) contrast(73%);
    --filter-text-600:invert(89%) sepia(0%) saturate(722%) hue-rotate(147deg) brightness(95%) contrast(88%);
    --filter-text-800:invert(100%) sepia(0%) saturate(1156%) hue-rotate(288deg) brightness(112%) contrast(90%);

    --theme-color-800:#eaeaea;
    --theme-color-700:#bcbcbc;
    --theme-color-600:#9c9c9c;
    --theme-color-500:#6f6f6f;
    --theme-color-400:#535353;
    --theme-color-300:#282828;
    --theme-color-200:#242424;
    --theme-color-100:#1c1c1c;
    --theme-color-50:#161616;
    --theme-color-900:#111111;

    --box-shadow--3: 0 0.75rem 1.5rem 0 rgba(17,17,17,0.1);
    --box-shadow--5: 0 2rem 3rem 0 rgba(17,17,17,0.1);

    --filter-shadow-3:drop-shadow(0 0.75rem 1.5rem 0 rgba(17,17,17,0.1));

    --dim:rgba(255,255,255,0.25);

}


*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;

    font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}
html,body{
    min-height:100%;
    
    font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    font-size: max(14px, calc(14px + 0.1vw));
    line-height: 150%;

    color: var(--text-color-800);
    background-color: var(--background-color);

    word-break: keep-all;
}

/* *::-webkit-scrollbar{
    display: none;
} */



/* display set with viewport */
.is-hide{
    display: none!important;
}

.is-pc{
    display: block;
}
.is-mobile{
    display: none;
}
@media all and (max-width:768px){
    .is-mobile{
        display: block;
    }   
    .is-pc{
        display: none!important;
    }
}


option{
    background: var(--background-color);
}


/* font design set */
.is-accent{
    color: var(--primary-color-500);
    font-weight: 500;
}
html[data-theme='light'] .is-secondary{
    color: var(--secondary-color-400);
}
    /* in dark */
    html[data-theme='dark'] .is-secondary{
        color: var(--text-color-600);
    }
.is-primary{
    color: var(--primary-color-500) !important;
}
.is-break{
    word-break: break-all;
}
.is-remark{
    color: var(--text-color-600);
    font-size: var(--text-small);
}


/* font-size */
.body--large{
    font-size: var(--text-large);
    line-height: 1.5em;
}
.body--small{
    font-size: var(--text-small);
    line-height: 1.5em;
}


/* font-weight */
.font-weight--medium{
    font-weight: 500;
}
.font-weight--semibold{
    font-weight: 600;   
}
.font-weight--bold{
    font-weight: 700;   
}

/* font-color */
.font-color--third{
    color: var(--text-color-400);
}
.font-color--second{
    color: var(--text-color-600);
}


/* font-align */
.text-align--center{
    text-align: center;
}
.text-align--right{
    text-align: right;
}

/* headline */
.h1{
    font-size: 5.61rem;
    line-height: 1.3em;
}
.h2{
    font-size: 4.209rem;
    line-height: 1.3em;

}
.h3{
    font-size: 3.157rem;
    line-height: 1.4em;

}
.h4{
    font-size: 2.369rem;
    line-height: 1.5em;

}
.h5{
    font-size: 1.777rem;
    line-height: 1.5em;
}
.h6{
    font-size: var(--text-large);
    line-height: 1.5em;
}

@media all and (max-width:768px){
    .h1{
        font-size: 3.157rem;
        line-height: 1.4em;
    
    }
    .h2{
        font-size: 2.369rem;
        line-height: 1.5em;
    
    }
    .h3{
        font-size: 1.777rem;
        line-height: 1.5em;
    
    }
    .h4{
        font-size: var(--text-large);
        line-height: 1.5em;
    }
    .h5{
        font-size: 1.25rem;
        line-height: 1.5em;
    
    }
    .h6{
        font-size: 1rem;
        line-height: 1.5em;
    }
}


/* icon */
.icon{
    width: 1.5rem;
    /* height: 1.25rem; */
    filter:var(--filter-text-600)
}

#download-excel .icon{
    filter: unset;
}

.icon.is-small{
    width: 1.25rem;
}
.icon.is-large{
    width: 2rem;
}
.icon.is-xl{
    width: 2.5rem;
}

.icon.is-primary{
    filter: var(--filter-primary)!important;
}


/* flex */
[class*='flex-']{
    display: flex;
    gap: 1rem;

    flex-basis: auto;
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.flex--row{
    flex-direction: row;
    align-items: center;
}
.flex--column{
    flex-direction: column;
}

@media all and (max-width:768px){
    .flex--row.is-change{
        flex-direction: column;
        width: 100%;
    }
    .flex--column.is-change{
        flex-direction: row;
    }
}
.flex-align--center{
    align-items: center;
}
.flex-align--start{
    align-items: flex-start;
}
.flex-align--end{
    align-items: flex-end;
}

.flex-justify--between{
    justify-content: space-between;
}

.flex-justify--center{
    justify-content: center;
}

.flex-justify--start{
    justify-content: flex-start!important;
}


.flex-justify--end{
    justify-content: flex-end!important;
}


/* grid */
.grid--center{
    display: grid;
    place-items: center;
}

/* gap */
.gap--none{
    gap: 0!important;
}
.gap--sm{
    gap: .5rem!important;
}
.gap--large{
    gap: 2rem!important;
}
.gap--xl{
    gap: 4rem!important;
}


/* select */
.select{
    border: none;
    padding: 0 1rem;
}

.select-box{
    position: relative;
    font-size: var(--text-small);

    border: 1px solid var(--theme-color-400);
    border-radius: .5rem;

    min-width: 12rem;
   

    display: flex;
    flex-direction: column;
}
.select-box.is-top {
    display: flex;
    flex-direction: column-reverse;
}

.select-box__select{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;

    justify-content: space-between;

    height: 2.5rem;
}
.select-box__select li:not(.is-active){
    display: none;
}
.select-box__icon{
    transform: rotate(180deg);
    transition: .35s;
}

.select-box.is-active .select-box__icon {
    transform: rotate(0deg);
    transition: .35s;
}
.select-box.is-large{
    min-width: 12rem;
    height: 3rem;
}
.select-box.is-small{
    min-width: 12rem;
    height: 2rem;
}

.select-box__option{
    display: none;
    
    background: var(--background-color);
    border: 1px solid var(--theme-color-400);
    width: 100%;

    height: max-content;
    border-radius: 0.5em;
    z-index: 1;

    position: absolute;
    left: 0;

    flex-direction: column;

}

.select-box__option li:hover {
    cursor: pointer;
    background: var(--theme-color-100);
    transition: .4s;
}
.select-box:not(.is-top).is-active .select-box__option{
    display: flex;
    box-shadow: var(--box-shadow--5);
    top: 100%;
}

.select-box.is-top.is-active .select-box__option{
    display: flex;
    /* top: -100%; */
    bottom: 100%;

    /* border: 1px solid black; */
}


.select-box__option li{
    padding: .5em;
}


@media all and (max-width:1280px){
    .select-box.is-large{
        width: 100%;
    }
    .select-box.is-small{
        height: 2.5rem;
    }
}

@media all and (max-width:768px) {
    .select-box{
        width: 100%;
    }
}


/* input */
label{
    /* color: var(--text-color-600); */
    font-size: var(--text-small);
}
.input-area{
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.input-box{
    position: relative;
}
.input-box__label{
    display: inline-block;
    margin-bottom: .25rem;
}
.input,.textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--theme-color-400);
    color: var(--text-color-800);

    font-size: 1rem;
    background: transparent;
}
.input::placeholder,
.textarea::placeholder{
    font-size: var(--text-small);
}
.textarea{
    height: 100%;
    resize: none;
}
.input{
    height: 2.5rem;
}

.input.is-narrow{
    max-width: 4rem;
}
.input.is-small{
    height: 2rem;
}
.input.is-large{
    height: 3rem;
}
.input-box .icon{
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    filter: var(--filter-text-400);

    cursor: pointer;
}
.input-box .icon:not(img[src*='eye']){
    display: none;
}
::placeholder{
    color: var(--text-color-400);
}


.input-area__helper{
    display: none;

    font-size: var(--text-small);
    color:var(--text-color-600)
}


.input-area.is-error *:not(label){
    color: var(--primary-color-500);
}
.input-area.is-error .input{
    border: 1px solid var(--primary-color-500);
}
.input-area.is-error .input-area__helper{
    display: block;
    visibility: visible;
}


/* checkbox box */
.checkbox{
    width: 1rem;
    height: 1rem;
    border-radius: .25rem;
    overflow: hidden;

    display: grid;
    place-items: center;
    border: 1px solid var(--theme-color-400);
}
.checkbox:hover{
    transition: .3s;
    background: var(--theme-color-50);
    border: 1px solid var(--text-color-600);
}
.checkbox::before{
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
}

/* checkbox mark */
.checkbox:checked{
    background-color: var(--primary-color-500);
    border-color: var(--primary-color-500);
}
.checkbox:checked::before{
    /* width: 80%;
    height: 80%; */
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath fill='%23ffffff' d='M13.72 27.69 3.29 17.27a1 1 0 0 1 1.41-1.41l9 9L31.29 7.29A1 1 0 0 1 32.7 8.7Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
}



/* radio box */
.radio{
    width: 1rem;
    height: 1rem;
    border-radius: 99rem;
    overflow: hidden;

    display: grid;
    place-items: center;
    border: 1px solid var(--theme-color-400);
}
.radio::before{
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
}

/* radio mark */
.radio:checked{
    border: .33rem solid var(--primary-color-500);
}
.radio:checked::before{
    box-shadow: none;
    background-position: center;
    background-size: contain;
}


/* checkbox disabled */
.checkbox:disabled,
.radio:disabled{
    background: var(--theme-color-100);
    border-color:var(--theme-color-400)
}
.checkbox:checked:disabled::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath fill='%23999999' d='M13.72 27.69 3.29 17.27a1 1 0 0 1 1.41-1.41l9 9L31.29 7.29A1 1 0 0 1 32.7 8.7Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3C/svg%3E");
}


/* button */
.button{

    max-width: 100%;

    border-radius: 0.5rem;
    font-weight: 500;

    cursor: pointer;
    color: var(--text-color-800);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;

    font-size: var(--text-small);
}

.button.is-round{
    border-radius: 50rem;
}

.button:not(.icon-button) .icon{
    margin-right: .5rem;
}

.button:not(.icon-button) .icon.is-end{
    margin: 0;
    margin-left: .5rem;
}

.button:hover{
    transition: .3s;
}
.button:disabled{
    background: var(--theme-color-400);
    border: 1px solid var(--theme-color-400);
    color: var(--text-color-400);
}


/* button color set */
.button--text{
    color: var(--secondary-color-400);
}
.button--text:hover{
    color: var(--secondary-color-500);
}
html[data-theme='light'] .button--text .icon{
    filter: var(--filter-secondary);
}

.button--primary{
    background: var(--primary-color-500);
    color: var(--white);
}
.button--primary:hover{
    background-color: var(--primary-color-400);
}

.button--secondary{
    background: var(--secondary-color-500);
    color: var(--white);
}
.button--secondary:hover{
    background-color: var(--secondary-color-400);
}

.button--primary .icon,
.button--secondary .icon{
    filter: var(--filter-white);
}

.button--outline{
    color: var(--text-color-600);
    border: 1px solid var(--theme-color-400);
}
.button--outline:hover{
    color: var(--text-color-800);
    background: var(--theme-color-50);
}
.button--outline .icon{
    filter: var(--filter-text-400);
}

    /* in dark */
    html[data-theme='dark'] .button--text{
        color: var(--text-color-600);
    }
    html[data-theme='dark'] .button--text:hover{
        color: var(--text-color-800);
    }
    html[data-theme='dark'] .button--text .icon{
        color: var(--filter-text-400);
    }

/* button size set */
.button.is-xl{
    height: 4rem;
    line-height: 4rem;
    padding: 0 2rem;

    font-size: var(--text-small);
}
.button.is-large{
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;

    font-size: 1rem;
}
.button.is-medium{
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;

    font-size: var(--text-small);
}
.button.is-small{
    height: 2rem;
    line-height: 2rem;
    padding: 0 .75rem;

    font-size: var(--text-small);
}

@media all and (max-width:1280px){
    
    .button.is-small{
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 1.25rem;
    }

    .card .button--text{
        width: fit-content;
        padding: 0;
    }
}

@media all and (max-width:768px){
    .button{
        width: 100%;
    }
}


/* only icon button */
.icon-button{
    display: grid;
    place-items: center;

    padding: 0;
}

.icon-button.is-xl{
    width: 3.5rem;
}
.icon-button.is-xl .icon{
    width: 2rem;
}

.icon-button.is-large{
    width: 3rem;
    height: 3rem;
}
.icon-button.is-large .icon{
    width: 1.5rem;
}

.icon-button.is-medium{
    width: 2.5rem;
    height: 2.5rem;
}
.icon-button.is-medium .icon{
    width: 1.25rem;
}

.icon-button.is-small{
    width: 2rem;
    height: 2rem;
}
.icon-button.is-small .icon{
    width: 1rem;
}

@media all and (max-width:1280px){
    .icon-button.is-small{
        width: 2.5rem;
        height: 2.5rem;
    }
    .icon-button.is-small .icon{
        width: 1.25rem;
    }
}


/* group button */
.group-button{
    display: inline-flex;
    gap: 0;
    align-items: center;
    height: 2.5rem;
}
.group-button.is-small{
    height: 2rem;
}
.group-button.is-small .input{
    padding: .5rem;
}
.group-button.is-large{
    width: 3rem;
    height: 3rem;
}

.group-button__base{
    display: grid;
    place-items: center;
    cursor: pointer;

    min-width: 2.5rem;
    height: 100%;
    border: 1px solid var(--theme-color-400);

}
.group-button__base .icon{
    filter: var(--filter-text-400);
}

.group-button__base.is-start{
    border-radius: .5rem 0 0 .5rem ;
}
.group-button__base.is-middle{
    /* width: fit-content; */
    text-align: center;

    border-radius: 0;
    border:unset;
    border-top: 1px solid var(--theme-color-400);
    border-bottom: 1px solid var(--theme-color-400);

}
.group-button__base.is-end{
    border-radius: 0 .5rem .5rem 0 ;
}


/* group button - vertical */
.group-button--column{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    height: auto;
}

.group-button--column .group-button__base{
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--theme-color-400);
}

.group-button__base > .input{
    border: none;
}

.group-button--column .group-button__base.is-start{
    border-radius: .5rem .5rem 0 0;
}
.group-button--column .group-button__base.is-middle{
    border-left: 1px solid var(--theme-color-400);
    border-right: 1px solid var(--theme-color-400);
}
.group-button--column .group-button__base.is-end{
    border-radius: 0 0 .5rem .5rem ;
}

#tutorial.is-active{
    border-color: var(--focus-color-500);
}
#tutorial.is-active .icon{
    filter: var(--filter-focus);
}




/* toggle */
.toggle {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}
.toggle.is-small{
    width: 3rem;
    height: 1.5rem;
}
  
.toggle__checkbox {
    border-radius: 1.25em;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-color-400);
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle__slider::before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}

.toggle.is-small .toggle__slider::before{
    width: 1rem;
    height: 1rem;
    left: 10%;
}

.toggle__checkbox:checked {
    background-color: var(--focus-color-500)
}
.toggle__checkbox:checked + .toggle__slider::before {
    transform: translateX(135%) translateY(-50%);
}



/* tab type:text*/
.tab{
    display: inline-flex;
    align-items: center;
}

.tab__item{
    color: var(--text-color-600);
    font-size: var(--text-small);
    cursor: pointer;
}
.tab__item a{
    padding: 0 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.tab__item.is-small{
    height: 2rem;
    line-height: 2rem;
}
.tab__item:hover{
    color: var(--text-color-800);
}
.tab__item.is-active{
    font-weight: 500;
    color: var(--text-color-800);
    border-bottom: 1px solid var(--primary-color-500);
}

.tab__item--badge{
    color: var(--text-color-600);
    cursor: pointer;

    border-radius: 99rem;
}
.tab__item--badge a{
    padding: 0 1.5rem;
    height: 2.5rem;
    line-height: 2.5rem;

}
.tab__item--badge:hover{
    background:var(--theme-color-100);
    transition: .3s;
}
.tab__item--badge.is-active{
    background:var(--theme-color-400);
}


@media all and (max-width:768px){
    .tab-wrap{
        overflow-x: hidden;
    }
    .tab__item--badge{
        padding: 0 .5rem;
        /* font-size: var(--text-small); */
        flex:  0 0 4rem;
        /* flex-grow flex-shrink flex-basis */
        white-space: nowrap;
    }
    .tab{
        width: 100%;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
}


/* bar */
.bar{
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.bar__item{
    width: 3rem;
    height: .25rem;
    display: inline-block;
    background-color: var(--theme-color-400);
}

.bar__item.is-active{
    background-color: var(--primary-color-500);
}

.basic-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.list__item{
    display: inline-flex;
    gap: .5em;
}


/* width set */
.width-100{
    width: 100%;
}
.width-auto{
    width: auto;
}
.width-2{
    width: 2%;
}
.width-5{
    width: 5%;
}
.width-10{
    width: 10%;
}
.width-15{
    width: 15%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-40{
    width: 40%;
}
.width-50{
    width: 50%;
}
.width-60{
    width: 60%;
}
.width-70{
    width: 70%;
}
.width-80{
    width: 80%;
}

.width-90{
    width: 90%;
}



/* pagination */
.pagination, .pagination__index-wrap{
    display: inline-flex;
    align-items: center;
}

.pagination__item{
    width: 2rem;
    height: 2rem;
    display: grid;
    place-content: center;
    border-radius: 50%;

    cursor: pointer;
    font-size: var(--text-small);
}

.pagination__index-wrap .pagination__item:hover{
    background: var(--primary-color-50);
    transition: .3s;
}

.pagination__index-wrap .pagination__item.is-active{
    background: var(--primary-color-400);
    color: var(--white);
}

@media all and (max-width:1279px){
    .pagination__item{
        width: 2.5rem;
        height: 2.5rem;
    }
    /* .pagination__item{
        display:none
    } */
}


/* step */

.header-step{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-step__item a{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header-step__item span{
    border: 1px solid var(--theme-color-400);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 999%;
}
.header-step__item.is-active span{
    background: var(--primary-color-500);
    color: var(--white);
    border: unset;
}
.header-step__item.is-active a{
    color: var(--primary-color-500);
    font-weight: 500;
}

@media all and (max-width:768px){
    .header-step__item a{
        flex-direction: column;
        gap: 0.25em;
    }
    .header-step__item span{
        width: 1.5em;
        height: 1.5em;
    }
}

/* modal */
.dim:not(.is-mobile){
    background: var(--dim);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 100;
    text-align: center;
}
.modal-content{
    background: var(--background-color);
    color: var(--text-color-800);

    display: flex;
    flex-direction: column;
    width: 50rem;
    max-height: 37.5rem;

    border-radius: .5rem;
    box-shadow: var(--box-shadow--5);

    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.modal__header,.modal__button-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    border-top: 1px solid var(--theme-color-400);
}
.modal__header{
    height: var(--header-height);
}
.modal__button-wrap{
    height: 4rem;
}
.modal__title{
    font-size: var(--text-large);
    line-height: 1.5em;

    font-weight: 600;
}
.modal__body{
    padding: 2rem;
    max-height: calc(37.5rem - 5rem - 4rem);
    overflow-y: scroll;
}

@media screen and (min-width:769px) and (max-width:1279px){
    .modal-content{
        width: calc(100vw - 2rem);
        max-width: 40rem;
        max-height: 30rem;
    }

    .modal__body{
        max-height: calc(30rem - 5rem - 4rem);
    }
}

@media screen and (max-width:768px){
    .modal-content{
        width: calc(100vw - 2rem);
        max-height: calc(100vh - 2rem);
    }

    .modal__body{
        max-height: calc(100vh - 2rem - 5rem - 4rem);
    }
}

/* margin set*/
.margin-bottom--medium{
    margin-bottom: 1rem;
}
.margin-bottom--large{
    margin-bottom: 2rem;
}
.margin-bottom--xl{
    margin-bottom: 4rem;
}


/* padding set */
.padding-vertical--xxl{
    padding: var(--header-height) 0;
}


/* dynamic badge set */
.dynamic-badge-set li{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    word-break: normal;
    padding: .5rem .25em;
}

.dynamic-badge-set span{
    font-size: var(--text-small);
    display: inline-flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .25em 1em;

    border-radius: 99rem;
    background: var(--theme-color-100);

    cursor: pointer;
}

.dynamic-badge-set span:hover{
    background: var(--theme-color-300);
    transition: .3s;
}


/* 나중에 좋은 방법 찾기 */
.is-empty{
    height: 45rem;
}
.card .is-empty{
    height: 20rem;
}
div:not(.card) .is-empty > div{
    height: 100%;
    justify-content: center;
}


/* accordion */
.accordion{
 display: flex;;
 flex-direction: column;

 transition: height .3s ease-in-out ;

}
.accordion__header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    width: 100%;

    background: var(--background-color);
    border-bottom: 1px solid var(--theme-color-400);
}

.accordion__body{
    padding: 2em 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    transform: scaleY(0);
    height: 0;
    transform-origin: top;
    transition: transform .4s ease-in-out ;
}

.accordion.is-active .accordion__body{
    transform: scaleY(1);
    height: auto;
    transform-origin: top;
    transition: transform .4s ease-in-out ;
}


/* file-box */

.file-box input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.file-box{
    display: inline-flex;
    gap: .5em;
    align-items: center;
}
.file-box.is-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.file-box__thumbnail{
    border: 1px solid var(--theme-color-400);
    height:auto;
    padding: .5em;
    border-radius: .5em;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 13rem;
    height: 4rem;
}

.file-box__thumbnail img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
