/* wrapper (전체 wrap) */
.wrapper {
    display: inline-flex;
    width: 100%;
}
.wrapper .container{
    max-width:unset;
    align-items: stretch;
}


/* container */
.container{
    border: 1px solid black;
    max-width: 1440px;
    margin: 0 auto;
}
.container.flex--row{
    padding: 0;
    gap: 0;
}


@media all and (max-width:1279px){
    .wrapper {
        flex-direction: column;
    } 
}

/* nav */
.nav{
    background-color: var(--theme-color-100);
    left: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    transform-origin: right;
    transition: .35s;
    z-index: 1;
}
.nav[data-fold="true"]{
    width: 3rem;
    padding: 2rem .5rem;
}
.nav[data-fold="true"] *:not(.icon){
    width: 100%;
    justify-content: center;
}
.nav[data-fold="true"] .is-unfold{
    display: none
}

.nav[data-fold="false"]{
    width: 12rem;
    padding: 2rem 1rem;
}
.nav[data-fold="false"] .button--primary,
.nav[data-fold="false"] .nav__name{
    display: block
}

.nav__top{
    display: inline-flex;
    align-items: center;

    justify-content: space-between;
    height: var(--header-height);
}

.nav__middle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .nav__logo{
    display: none;
} */


@media all and (max-width:768px){
    .nav, .nav[data-fold="true"]{
        min-height: unset;
        height: auto;
        top: 0;
        gap: 0;
        padding: 0 1rem;
    }

    .nav[data-fold="true"]{
        width: 100%;
    }
    .nav[data-fold="false"]{
        width: 100%;
        height: auto;
        padding: 0 1rem;
    }
    
    .nav__top{
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        padding: 0;
        /* height: 5rem; */
    }

    .nav[data-fold="true"] *:not(.icon) {
        justify-content: flex-start;
    }

    #nav-fold-button{
        width: auto;
        padding: 0
    }
    .nav__logo{
        display: block!important;
    }


    .nav[data-fold="true"] .nav__list{
        display: none;
    }



    .nav__middle{
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

@media all and (min-width:769px) and (max-width:1279px){
    .nav, .nav[data-fold="true"]{
        min-height: unset;
        height: auto;
        top: 0;
        gap: 0;
        padding: 0 2rem;
    }
    
    .nav__top{
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        padding: 0;
        /* height: 5rem; */
    }

    .nav[data-fold="true"] *:not(.icon) {
        justify-content: flex-start;
    }

    #nav-fold-button{
        width: auto;
        padding: 0
    }
    .nav__logo{
        display: block!important;
    }

    
    .nav[data-fold="true"]{
        width: 100%;
    }
    .nav[data-fold="true"] .nav__list{
        display: none;
    }

    .nav[data-fold="false"]{
        width: 100%;
        height: auto;
        padding: 0 2rem;
    }

    .nav__middle{
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

    
.nav__category,
.nav-item{
    display: inline-flex;
    align-items: center;
    height: 3rem;
}
.nav__category{
    color: var(--text-color-400);
    font-size: var(--text-small);
}
.nav-item{
    width: 100%;
    gap: 1rem;
    cursor: pointer;

    color: var(--text-color-600);
}
.nav-item.is-border{
    border-bottom: 1px solid var(--theme-color-500);
}
.nav-item:hover{
    background-color: var(--theme-color-50);
    transition: .3s;
}

.nav-item__icon{
    filter: var(--filter-text-400)
}
.nav-item.is-active{
    color: var(--primary-color-500);
}
.nav-item.is-active .nav-item__icon{
    filter: var(--filter-primary)
}


/* main */
.main{
    /* padding-left: 12rem; */
    width: 100%;
    min-height: 100%;
} 

.main--background{
    padding-left: 0;
    min-height: 100vh;
    background-color: var(--theme-color-100);
}
.main--background > .container{
    background-color: var(--white);
    border: 1px solid var(--theme-color-200);
    border-top: unset;
    border-bottom: unset;

    max-width: 37rem;
    min-height: 100vh;
    margin: 0 auto;

    padding: 2rem;
}
.main--background > .container .main-content{
    padding: 0;
}

.main-content{
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.aside-content{
    max-width: 15rem;
}

@media all and (max-width:768px){
    .main--background .container{
        padding: 1rem;
    }
    .main-content{
        padding: 1rem;
        gap: 1rem;
    }
}

/* document header */
.doc-header{
    width: 100%;
    height: var(--header-height);
    z-index: 99;
}
#doc-header.is-fixed,#doc-footer.is-fixed{
    background: var(--background-color);
    position: fixed;
    left: 0;
}
#doc-header.is-fixed{
    top: 0;
}
#doc-footer.is-fixed{
    bottom: 0;
}

.doc-header .container{
    width: 100%;
    max-width: unset;
    padding: 1rem 2rem;
    height: 100%;
    border-bottom: 1px solid var(--theme-color-200);

    display: inline-flex;
    align-items: center;
}

.doc-header .container{
    justify-content: space-between;
}
.doc-header .container.is-center{
    justify-content: center;
}


.doc-header__right{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.doc-header__button-wrap{
    display: inline-flex;
    align-items: center;
}
.doc-header__user-wrap{
    position: relative;
    cursor: pointer;
}
#user_name{
    font-weight: 600;
    color: var(--secondary-color-500);
}
.doc-header__user-wrap .list-modal{
    display: flex;
    flex-direction: column;
    
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s ease-in ;
}
.doc-header__user-wrap.is-active .list-modal{
    
    max-height: none;
    
    transform: scaleY(1);
    transform-origin: top;
    transition: all .3s ease-out ;
}

.list-modal li{
    padding: .5rem 0;
    font-size: var(--text-small);
}
.list-modal li *{
    width: 100%;
    height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width:768px){
    .doc-header .container{
        padding: 1rem;
    }
    .doc-header__user{
        display: none;
    }
    .doc-header__right{
        gap: 0;
    }
}



@media all and (min-width:769px) and (max-width:1279px){
    .main{
        width: 100%;
        height: 100%;
        padding-left: 0!important;
    } 
    /* .container{
        padding: 2rem 1rem;
    } */

    /* document header */
    .doc-header{
        width: 100%;
    }
    .doc-header__right{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .doc-header__right .group-button{
        display: none;
    }
    .doc-header__user-wrap{
        display: none;
    }

    /* .doc-header .container{
        padding: 1rem;
    } */

    .search-form{
        display: none;
    }
    
}





/* form */
.form{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.form__title-wrap{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
    text-align: center;
}

.from__control-form{
    display: inline-block;
}
.from__shortcut{
    display: inline-block;
}
.form__button{
    margin-bottom: 1rem;
}
.form__button:last-child{
    margin-bottom: 0;
}


.form__button-wrap{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form .checkbox-wrap{
    margin-top: 2rem;

}

.radio-wrap{
    display: inline-flex;
    align-items: center;

    gap: 1rem;
}

.checkbox-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox__item{
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: .25rem 0;

    justify-content: space-between;
}

@media all and (max-widht:768px){
    
}
/* grid */
.full-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.full-grid.is-double{
    grid-template-columns: repeat(2,1fr);
}

.full-grid.left-double{
    grid-template-columns: 1fr 33%;
}
.full-grid.right-double{
    grid-template-columns: 33% 1fr;
}

.card.is-column-full{
    grid-column: 1/3;
}
.card.is-row-full{
    grid-row-start: 1;
    grid-row-end: 5;
}
.card#event{
    padding: 0;
    overflow: hidden;
    grid-column-start: 3;
}

.full-grid[class*="-double"] #event{
    grid-column-start: 2;
}

#event img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media all and (min-width:769px) and (max-width:1279px){
    .full-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .full-grid.left-double{
        grid-template-columns: 1fr;
    }
    .full-grid.right-double{
        grid-template-columns: 1fr;
    }

    .card.is-column-full{
        grid-column: unset;
    }

    .card#event{
        grid-column-start: unset;
        /* order: 1; */
        max-height: var(--header-height);
    }

    .full-grid[class*="-double"] #event{
        grid-column-start: unset;
        order: 1;
    }

    .card.is-row-full{
        grid-row-end: 1;
    }
}

@media all and (max-width:768px){
    .full-grid{
        grid-template-columns: 1fr;
    }
    .full-grid.left-double{
        grid-template-columns: 1fr;
    }
    .full-grid.right-double{
        grid-template-columns: 1fr;
    }

    .card.is-column-full{
        grid-column: unset;
    }

    .card.is-row-full{
        grid-row-end: 1;
    }
    
    .full-grid[class*="-double"] #event{
        grid-column-start: unset;
        order: 1;
    }

    .card#event{
        grid-column-start: unset;
        order: 1;
        max-height: var(--header-height);
    }
    
}