<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <link rel="stylesheet" href="/statics/lib/Datetime-Picker/css/datetimepicker.css">
        <title>대량발송 | 대량발송 시작하기</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="full-grid">
                            <div class="step-container">
                                <h3 class="step__title">
                                    <span>01</span>
                                    엑셀 파일 업로드
                                </h3>
                                <div class="flex--column flex-align--center">
                                    <div class="flex--column flex-align--center gap--sm">
                                        <img src="/statics/icon/info-standard-line.svg" class="icon is-large">
                                        <p class="font-weight--semibold font--large">대량발송 시작하기</p>
                                    </div>
                                    <div class="gap--sm flex--column flex-align--center">
                                        <p class="font-weight--medium">문서명</p>
                                        <p class="">계약서 대량 발송을 시작합니다.</p>
                                    </div>
                                </div>
                                <div class="flex--column">
                                    <button type="button" class="button button--secondary">
                                        <img src="/statics/icon/angle-down.svg" class="icon">엑셀 양식 다운로드
                                    </button>
                                    <button type="button" class="button button--outline">
                                        <img src="/statics/icon/angle-down.svg" class="icon">엑셀 파일 업로드
                                    </button>
                                </div>
                                <div class="control-form">
                                    <input type="file"><label for=""></label>
                                </div>
                                <ul class="basic-list" id="test-wrap">
                                </ul>
                            </div>
                            <script>
                                $(function(){
                                    for (let i = 1; i <= 5; i++){
                                        $('#test-wrap').append(`
                                            <li class="flex--row is-change flex-align--start">
                                                <span class="is-remark is-pc">${i}</span>
                                                <span class="is-ellipsis">0s,whenanunknownprintertookagal2 </span>
                                                <span class="is-ellipsis is-remark">0s,whenanunknownprintertookagalleyoftypeandscrambledis@email.com</span>
                                            </li>
                                        `)
                                    }
                                    
                                })
                                
                            </script>
                            
                            <!-- step 2 -->
                            <div class="step-container">
                                <h3 class="step__title">
                                    <span>02</span>
                                    발송 가능 수량 확인
                                </h3>
                                <div class="flex--row flex-justify--between">
                                    <p class="is-remark">
                                        계약수량
                                    </p>
                                    <a href="javascript:void(0)" class="button button--text">
                                        충전하기
                                        <img class="icon is-end" src="/statics/icon/pop-out-line.svg"
                                        alt="충전하기">
                                    </a>
                                </div>
                                <ul class="basic-list">
                                    <li class="flex--row flex-justify--between">
                                        <p>보유중</p>
                                        <p><span>10</span>건</p>
                                    </li>
                                    <li class="flex--row flex-justify--between">
                                        <p>사용가능</p>
                                        <p><span>10</span>건</p>
                                    </li>
                                    <li class="flex--row flex-justify--between ">
                                        <p>잔여수량</p>
                                        <p class="font-weight--medium"><span>10</span>건</p>
                                    </li>
                                </ul>
                                <div class="">
                                    <img class="is-primary icon" src="/statics/icon/exclamation-triangle-line.svg"
                                    alt="">
                                    <p class="is-primary">보유한 계약 건수가 부족합니다.</p>
                                </div>
                            </div>

                            <!-- step 3 -->
                            <div class="step-container">
                                <h3 class="step__title">
                                    <span>03</span>
                                    시험 발송 및 대량발송 시작
                                </h3>
                                <p class="is-remark">
                                    서명요청 대량발송 전, 시험발송을 통해 보다 신중하게 대량발송을 할 수 있습니다.<br>
                                    아래의 시험발송용 이메일 및 연락처를 입력하여 테스트 해보세요.
                                </p>
                                <div class="flex--row is-change">
                                    <input type="text" class="input" readonly>
                                    <button type="button" class="button button--secondary" disabled>이름변경</button>
                                </div>
                                <div class="flex--column width-100">
                                    <p class="is-remark">발송 방법 <span class="is-primary">*</span></p>
                                    <div class="flex--row">
                                        <div class="control-form">
                                            <input type="radio" class="radio" name="submit-type" checked>
                                            <label for="">바로발송</label>
                                        </div>
                                    </div>
                                    <div class="flex--row">
                                        <div class="control-form">
                                            <input type="radio" class="radio" name="submit-type">
                                            <label for="">예약발송</label>
                                        </div>
                                        <div id="date-time-picker" class="width-100"></div>
                                        <input type="hidden" id="" readonly >
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- container -->
                <div class="doc-header is-fixed" id="doc-footer">
                    <div class="container is-center">
                        <button type="button" class="button is-large button--text">이전</button>
                        <button type="button" class="button is-large button--primary">다음</button>
                    </div>
                </div>
            <!-- </div> -->
            </main>
        </div>
        <!-- /wrapper -->
        <script src="/statics/lib/moment/min/moment-with-locales.min.js"></script>
        <script src="/statics/lib/Datetime-Picker/js/datetimepicker.js"></script>
        <script>
            $(function(){
                let width = $('#date-time-picker').width()
                let rem = 14 + ($(document).width() * 0.001)


                // right fix하는 방법 찾아보기
                /*
                    viewport width 구해서
                    left 변수로 저장해서 계산식 적용하기
                */
                $('#date-time-picker').dateTimePicker({
                    dateFormat:"YYYY-MM-DD HH:mm",
                    locale:"ko",
                    showtime:true,
                    selectData:'now',
                    positionShift:{
                        top:0,
                        left:0 - width - (2 * rem),
                    },
                    title:"예약시간을 설정해주세요",
                    buttonTitle:"확인",
                })
            })
        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>