<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>대량발송 | 대량발송 시작하기</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="full-grid">
                            <div class="step-container">
                                <h3 class="step__title">
                                    <span>01</span>
                                    템플릿 대량 발송 여부 확인
                                </h3>
                                <div class="flex--column">
                                    <p class="is-remark">계약서</p>
                                    <div class="control-form">
                                        <input type="text" class="input" readonly>
                                        <button type="button" class="button button--secondary" disabled>이름변경</button>
                                    </div>
                                </div>
                                <div class="flex--column">
                                    <p class="is-remark">접근설정</p>
                                    <div class="control-form">
                                        <input type="radio" class="radio" name="auth-method" checked>
                                        <label for="">설정안함</label>
                                    </div>
                                    <div class="control-form">
                                        <input type="radio" class="radio" name="auth-method">
                                        <label for="">비밀번호</label>
                                    </div>
                                    <div class="control-form">
                                        <input type="radio" class="radio" name="auth-method">
                                        <label for="">PASS 간편</label>
                                    </div>
                                </div>
                                <div class="flex--column">
                                    <p class="is-remark">계약서</p>
                                    <textarea class="textarea" rows="4" maxlength="200"></textarea>
                                </div>
                                <div class="flex--column">
                                    <div class="control-form">
                                        <label for="">
                                            서명완료 메일을 매회 수신합니다
                                            <img src="/statics/icon/angle-right.svg" class="icon">
                                        </label>
                                        <input type="checkbox" class="checkbox">
                                    </div>
                                    <p class="is-remark">서명자가 서명을 할 때마다 서명 완료 메일을 받을 수 있습니다.</p>
                                </div>
                            </div>
                            
                            <!-- step 2 -->
                            <div class="step-container">
                                <h3 class="step__title">
                                    <span>02</span>
                                    엑셀 파일 업로드
                                </h3>
                                <div class="flex--column">
                                    <img src="/statics/icon/plus-circle-line.svg" class="icon is-large">
                                    <p class="k">대량발송 시작하기</p>
                                    <p class="font-weight--medium">문서명</p>
                                    <p class="font-weight--medium">계약서 대량 발송을 시작합니다.</p>
                                </div>
                                <div class="flex--column">
                                    <button type="button" class="button button--secondary">
                                        <img src="/statics/icon/angle-down.svg" class="icon">엑셀 양식 다운로드
                                    </button>
                                    <button type="button" class="button button--outline">
                                        <img src="/statics/icon/angle-down.svg" class="icon">엑셀 파일 업로드
                                    </button>
                                </div>
                            </div>

                            <!-- step 3 -->
                            <div class="step-container">
                                <h3 class="step__title">
                                    <span>03</span>
                                    시험 발송 및 대량발송 시작
                                </h3>
                                <p class="is-remark">
                                    서명요청 대량발송 전, 시험발송을 통해 보다 신중하게 대량발송을 할 수 있습니다.<br>
                                    아래의 시험발송용 이메일 및 연락처를 입력하여 테스트 해보세요.
                                </p>
                                <div class="control-form">
                                    <input type="text" class="input" readonly>
                                    <button type="button" class="button button--secondary" disabled>이름변경</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- container -->
                <div class="doc-header is-fixed" id="doc-footer">
                    <div class="container is-center">
                        <button type="button" class="button is-large button--text">이전</button>
                        <button type="button" class="button is-large button--primary">다음</button>
                    </div>
                </div>
            <!-- </div> -->
            </main>
        </div>
        <!-- /wrapper -->
            
        <script>
            $('html').attr('data-theme',localStorage.getItem('data-theme'))

            // function manageCardInput(id,type){
            //     if(id!==null){
            //         $(`.card[data-id=${id}] .input`).not('input[type=text]').addClass('is-hide')
            //         $(`.card[data-id=${id}] .input[type=${type}]`).removeClass('is-hide')
            //     }
            //     else{
            //         $(`.card .input`).not('input[type=text]').addClass('is-hide')
            //         $(`.card .input[type=${type}]`).removeClass('is-hide')
            //     }
            // }


            // $(function(){
            //     $('.nav').hide()

            //     let type = $('.card .tab__item.is-active').attr('data-type');
            //     manageCardInput(null,type)
            // })
            

            // $('.card .tab__item').on('click',function(){
            //     let card_id = $(this).parents('.card').attr('data-id')
            //     let type = $(this).attr('data-type');

            //     manageCardInput(card_id,type)
            // })

            // $('#add-signature').on('click',function(){
            //     card_id = Number($(`.card:nth-child(${$('.card').length - 1})`).attr('data-id'))

            //     let html = ''
            //     html += `<div class="card" data-id="${card_id+1}">
            //         <div class="card__content">
            //             <div class="card__row">
            //                 <p class="">${card_id+1} 번째 서명자</p>
            //                 <button type="button" class="button button--text is-small is-accent">삭제</button>
            //             </div>
            //             <input type="text" class="input is-small" placeholder="성명을 입력해주세요">

            //             <ul class="tab">
            //                 <li class="tab__item is-active" data-type="email">이메일</li>
            //                 <li class="tab__item" data-type="number">휴대전화</li>
            //             </ul>
            //             <input type="email" class="input is-smalle" placeholder="이메일을 입력해주세요">
            //             <input type="number" class="input is-small is-hide" placeholder="휴대전화번호를 입력해주세요">
            //         </div>
            //     </div>`
            //     $(this).parents('.card').before(html)

            //     if($('#doc-footer').offset().top > $(window).height()) {
            //         console.log('hello')
            //         $('body').animate({
            //             'scrollTop':$('.card:last-child').offset().top + $('.card:last-child').innerHeight()
            //         },10)
            //         $('.full-grid').css({
            //             'padding-bottom':'6rem'
            //         })
            //         $('#doc-footer').addClass('is-fixed');
            //     }
            // })

            
        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>