<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>공문발송 | 상세보기</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="snb">
                            <a href="/template/officeSubmit/officeSubmitList.html"
                            class="is-remark">전체</a>
                            <img src="/statics/icon/angle-right.svg" class="icon is-small">
                            <p class="is-remark">공문발송 문서명</p>
                        </div>
                        <div class="table-top">
                            <div class="flex--row is-change">
                                <div id="" class="select-box is-small">
                                    <div class="select-box__select">
                                        <p>전체</p>
                                        <img class="select-box__icon icon"
                                        src="/statics/icon/angle-line.svg" alt="화살표">
                                    </div>
                                    <ul class="select-box__option">
                                        <li selected>전체</li>
                                        <li>서명대기중</li>
                                        <li>진행중</li>
                                        <li>만료</li>
                                    </ul>
                                </div>
                                <div class="round-input">
                                    <div class="select-box">
                                        <div class="select-box__select">
                                            <p>문서명</p>
                                            <img class="select-box__icon icon" 
                                            src="/statics/icon/angle-line.svg" alt="화살표">
                                        </div>
                                        <ul class="select-box__option">
                                            <li>문서명</li>
                                            <li>성명</li>
                                            <li>이메일/휴대전화</li>
                                        </ul>
                                    </div>
                                    <input type="text" maxlength="50"
                                    placeholder="검색어를 입력해주세요"
                                    class="round-input__input input">
                                </div>
                            </div>
                            <p>
                                수신현황 <span>30</span>/40건
                            </p>
                        </div>
                        
                        <div class="is-empty">
                            <div class="flex--column flex-align--center
                            ">
                                <img class="icon is-large"
                                src="/statics/icon/exclamation-triangle-line.svg"
                                alt="아직 소속된 멤버가 없습니다">
                                <p>아직 소속된 멤버가 없습니다</p>
                                <button type="button" class="button button--secondary is-medium"
                                id="invite-member" >멤버 초대하기</button>
                            </div>
                        </div>

                        <div class="table is-scroll--hor">
                            <div class="table__thead">
                                <div class="table__tr width-100">
                                    <div class="table__td  width-2"></div>
                                    <div class="table__td  width-10">상태</div>
                                    <div class="table__td  width-20">서명자 이름 (필수)</div>
                                    <div class="table__td  width-40">이메일 또는 휴대전화번호</div>
                                    <div class="table__td  width-10">휴대전화 본인인증</div>
                                </div>
                            </div>
                            <div class="table__tbody">
                            </div>
                        </div>
                        <!-- /table -->
                    </div>
                    <!-- /main-content -->
                    <div class="template-footer is-detail">
                        <div class="container">
                            <button type="button"
                                class="button is-large button--text flex-justify--start">
                                모든 전송 요청 취소
                            </button>
                            <a href="/template/officeSubmit/officeSubmitList.html"
                            class="button button--primary is-large">
                                확인
                            </a>
                            <div></div>
                        </div>
                    </div>
                </div>
                <!-- /container -->
            </main>
        </div>
       
        <script src="/statics/js/common.js"></script>
        <script>
            $(function(){
                $.ajax({
                    url: "/json/dummy.json",
                    type: "GET", 
                    data:{},
                    dataType: "json"
                })
                .done(function(res) {
                    randomNum = Math.floor(Math.random() * 1000)
                    $('.table__tbody .table__tr').remove();
                    // randomNum=0

                    if(randomNum > 0){
                        $('.is-empty').hide();
                        $('.table').show();
                    }
                    else{
                        $('.table').hide()
                        $('.is-empty').show();

                        return false;
                    }

                    // 테스트용
                    const arr = [];
                    for (let i = 0; i < res.length; i += randomNum) {
                        arr.push(res.slice(i, i + randomNum));
                    }


                    // 테스트용
                    for (let i = 0; i<arr[0].length; i++){
                        html = '';
                        html += `<div class="table__tr">
                            <div class="table__td is-remark width-2">
                                ${i}
                            </div>
                            <div class="table__td width-10">
                                <p>수신완료</p>
                            </div>
                            <div class="table__td  width-20">
                                ${arr[0][i].name}
                            </div>
                            <div class="table__td  width-40">
                                ${arr[0][i].email}
                            </div>
                            <div class="table__td  width-10">
                                ON
                            </div>
                        </div>`
                        $('.table__tbody').append(html)
                    }
                    
                })
            })
        </script>
    </body>
    
</html>