<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>공문발송 | 서명자 정보 입력</title>
    </head>

    <body>
        <!-- <div class="wrapper"> -->
            <!-- 상단 헤더 -->
            <div class="template-header">
                <div class="container">
                    <a href="/template/officeSubmit/officeSubmitList.html" type="button" class="button button--text">
                        <img src="/statics/icon/angle-left.svg" class="icon">
                        홈으로
                    </a>
                    <ul class="flex--row header-step">
                        <li class="header-step__item is-active">
                            <a href="javascript:void(0)">
                                <span>1</span>서명자 정보 입력
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="javascript:void(0)">
                                <span>2</span>서명 영역 지정
                            </a>
                        </li>
                        <li class="header-step__item">
                            <a href="/template/officeSubmit/officeContract.html">
                                <span>3</span>템플릿 설정
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // 상단헤더 -->
            <main class="main main--background  padding-vertical--xxl">
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- top -->
                        <div class="card">
                            <div class="card__inner">
                                <ul class="card__header">
                                    <div class="tooltip">
                                        <li class="control-form">
                                            공문발송 가이드
                                            <img src="/statics/icon/help-line.svg" class="icon">
                                        </li>
                                        <div class="tooltip__modal is-bottom">
                                            링크서명은 별도의 회원가입/로그인 없이 공유 받은 URL 또는 QR코드를 통해 서명할 수 있습니다.
                                        </div>
                                    </div>
                                    <li class="control-form">
                                        <img src="/statics/icon/world-line.svg" class="icon" alt="언어 변경">
                                        <p>한국어</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /tabs -->
                        <!-- card -->
                        <div class="card" data-id="0">
                            <div class="card__inner">
                                <div class="card__header">
                                    <p class="">1번 서명자</p>
                                    <button type="button" class="button button--text is-small is-accent">삭제</button>
                                </div>
                                <div class="card__body">
                                    <div class="round-input width-100">
                                        <div class="select-box">
                                            <div class="select-box__select">
                                                <p>개인</p>
                                                <img src="/statics/icon/angle-top.svg"
                                                class="select-box__icon icon">
                                            </div>
                                            <ul class="select-box__option">
                                                <li>개인</li>
                                                <li>기업</li>
                                            </ul>
                                        </div>
                                        <input type="text" maxlength="64"
                                        placeholder="홍길동"
                                        class="round-input__input input">
                                    </div>
                                    <div class="round-input width-100">
                                        <div class="select-box">
                                            <div class="select-box__select">
                                                <p>이메일</p>
                                                <img src="/statics/icon/angle-top.svg"
                                                class="select-box__icon  icon">
                                            </div>
                                            <ul class="select-box__option">
                                                <li>이메일</li>
                                                <li>휴대전화</li>
                                            </ul>
                                        </div>
                                        <input type="text" maxlength="64"
                                        placeholder="01012345678"
                                        class="round-input__input input">
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <!-- /card -->

                        <!-- card -->
                        <div class="card" data-id="1">
                            <div class="card__inner">
                                <div class="card__header">
                                    <p class="">두 번째 서명자</p>
                                    <button type="button"
                                        class="button button--text is-small is-accent">
                                        삭제
                                    </button>
                                </div>
                                <div class="card__body">
                                    <div class="round-input width-100">
                                        <div class="select-box">
                                            <div class="select-box__select">
                                                <p>개인</p>
                                                <img src="/statics/icon/angle-top.svg"
                                                class="select-box__icon icon">
                                            </div>
                                            <ul class="select-box__option">
                                                <li>개인</li>
                                                <li>기업</li>
                                            </ul>
                                        </div>
                                        <input type="text" maxlength="64"
                                        placeholder="홍길동"
                                        class="round-input__input input">
                                    </div>
                                    <div class="round-input  width-100">
                                        <div class="select-box">
                                            <div class="select-box__select">
                                                <p>이메일</p>
                                                <img src="/statics/icon/angle-top.svg"
                                                class="select-box__icon  icon">
                                            </div>
                                            <ul class="select-box__option">
                                                <li>이메일</li>
                                                <li>휴대전화</li>
                                            </ul>
                                        </div>
                                        <input type="text" maxlength="64"
                                        placeholder="01012345678"
                                        class="round-input__input input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <div id="add-signature"
                        class="card ">
                            <div class="card__inner flex-align--center">
                                <button type="button"  class="button is-large button--text">
                                    <img src="/statics/icon/plus-circle-line.svg" class="icon">
                                    서명자 추가하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /main-content -->
                    
                <!-- /container -->
            </main>
            <div class="template-footer">
                <div class="container">
                    <div></div>
                    <div class="flex--row flex-justify--center">
                        <a href="/template/officeSubmit/officeSubmitList.html"
                            class="button is-large button--text">이전</a>
                        <button type="button" class="button is-large button--primary">다음</button>
                    </div>
                    <div></div>
                </div>
            </div>
        <!-- </div> -->
        <script>
            $('html').attr('data-theme','light')



        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>