<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>사인/도장</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="flex--row flex-justify--between">
                            <p class="font-weight--medium">저장된 사인/도장 (<span>12</span>)</p>
                            <div class="basic-button-wrap">
                                <button class="button button--secondary">
                                    <img src="/statics/icon/plus-line.svg" class="icon">
                                    사인/도장 만들기
                                </button>
                            </div>
                        </div>
                        <div class="full-grid is-quarter">
                            <div class="signature-card">
                                <div class="check-default-area flex-justify--end">
                                    <button class="button icon-button">
                                        <img src="/statics/icon/star-line.svg" alt="" class="icon on">
                                        <img src="/statics/icon/star-solid.svg" alt="" class="icon is-primary">
                                    </button>
                                </div>
                                <div class="signature-area">
                                    <img src="/statics/img/logo.png">
                                </div>
                                <div class="user-active-area flex--row flex-justify--between">
                                    <button class="button button--text re is-primary">
                                        <img src="/statics/icon/trash-line.svg" class="icon is-primary">
                                        삭제
                                    </button>
                                    <button class="button button--text">
                                        <img src="/statics/icon/download-line.svg" class="icon">
                                        다운로드
                                    </button>
                                </div>
                            </div>
                            <div class="signature-card">
                                <div class="check-default-area flex-justify--end">
                                    <button class="button icon-button">
                                        <img src="/statics/icon/star-line.svg" alt="" class="icon on">
                                        <img src="/statics/icon/star-solid.svg" alt="" class="icon is-primary">
                                    </button>
                                </div>
                                <div class="signature-area">
                                    <img src="/statics/img/logo.png">
                                </div>
                                <div class="user-active-area flex--row flex-justify--between">
                                    <button class="button button--text re is-primary">
                                        <img src="/statics/icon/trash-line.svg" class="icon is-primary">
                                        삭제
                                    </button>
                                    <button class="button button--text">
                                        <img src="/statics/icon/download-line.svg" class="icon">
                                        다운로드
                                    </button>
                                </div>
                            </div><div class="signature-card">
                                <div class="check-default-area flex-justify--end">
                                    <button class="button icon-button">
                                        <img src="/statics/icon/star-line.svg" alt="" class="icon on">
                                        <img src="/statics/icon/star-solid.svg" alt="" class="icon is-primary">
                                    </button>
                                </div>
                                <div class="signature-area">
                                    <img src="/statics/img/logo.png">
                                </div>
                                <div class="user-active-area flex--row flex-justify--between">
                                    <button class="button button--text re is-primary">
                                        <img src="/statics/icon/trash-line.svg" class="icon is-primary">
                                        삭제
                                    </button>
                                    <button class="button button--text">
                                        <img src="/statics/icon/download-line.svg" class="icon">
                                        다운로드
                                    </button>
                                </div>
                            </div><div class="signature-card">
                                <div class="check-default-area flex-justify--end">
                                    <button class="button icon-button">
                                        <img src="/statics/icon/star-line.svg" alt="" class="icon on">
                                        <img src="/statics/icon/star-solid.svg" alt="" class="icon is-primary">
                                    </button>
                                </div>
                                <div class="signature-area">
                                    <img src="/statics/img/logo.png">
                                </div>
                                <div class="user-active-area flex--row flex-justify--between">
                                    <button class="button button--text re is-primary">
                                        <img src="/statics/icon/trash-line.svg" class="icon is-primary">
                                        삭제
                                    </button>
                                    <button class="button button--text">
                                        <img src="/statics/icon/download-line.svg" class="icon">
                                        다운로드
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
       
        
        <script>
            $(".check-default-area .button").on("click", function() {
                if($(this).find('.is-primary').hasClass('on')){
                    $('.check-default-area .icon').addClass('on')
                    $('.check-default-area .icon.is-primary').removeClass('on')
                }
                else{
                    $('.check-default-area .icon').addClass('on')
                    $('.check-default-area .icon.is-primary').removeClass('on')

                $(this).find('.icon').removeClass('on')
                $(this).find('.icon.is-primary').addClass('on')

                }
                
            });
        </script>
    </body>
    
</html>