<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>메뉴설정 | 기업정보</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/menuSetting/setMenu.html">메뉴 설정</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/menuSetting/setSignature.html">서명 설정</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">고급 기능 설정</a>
                                </li>
                            </ul>
                        </div>
                        <div class="full-grid">
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                            <div class="card" id="setting-name">
                                <p class="is-remark">
                                    고급기능
                                </p>
                                <div class="card__content">
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="passwrod-auth" class="font-weight--medium">암호인증</label>
                                            <input type="checkbox" class="checkbox" id="passwrod-auth">
                                        </div>
                                        <p class="is-remark">
                                            서명자는 서명 요청자가 설정한 암호를 인증 후 서명할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="auto-agree" class="font-weight--medium">자동승인</label>
                                            <input type="checkbox" class="checkbox" id="auto-agree">
                                        </div>
                                        <p class="is-remark">
                                            서명이 완료된 문서를 직접 열람할 필요 없이 자동으로 승인합니다.
                                        </p>
                                    </div>
                                </div>

                                <p class="is-remark">조직 고급기능</p>
                                <div class="card__content">
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="member-document" class="font-weight--medium">멤버 문서 작성</label>
                                            <input type="checkbox" class="checkbox" id="member-document">
                                        </div>
                                        <p class="is-remark">
                                            최고관리자 외 멤버가 문서와 템플릿을 추가하여 사용할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="document-download" class="font-weight--medium">문서 정보/항목 데이터 다운로드</label>
                                            <input type="checkbox" class="checkbox" id="document-download">
                                        </div>
                                        <p class="is-remark">
                                            최고관리자 외 멤버 계정에서 문서 정보와 항목을 다운로드할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="reviewer-set" class="font-weight--medium">검토자 추가</label>
                                            <input type="checkbox" class="checkbox" id="reviewer-set">
                                        </div>
                                        <p class="is-remark">
                                            서명자 정보 입력 시 검토자를 추가할 수 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->

                            <div class="card" id="setting-price">
                                <p class="is-remark">
                                    조직 고급기능
                                </p>
                                <div class="card__content">
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="member-document-group" class="font-weight--medium">멤버 문서 작성</label>
                                            <input type="checkbox" class="checkbox" id="member-document-group">
                                        </div>
                                        <p class="is-remark">
                                            최고관리자 외 멤버가 문서와 템플릿을 추가하여 사용할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="document-download-group" class="font-weight--medium">문서 정보/항목 데이터 다운로드</label>
                                            <input type="checkbox" class="checkbox" id="document-download-group">
                                        </div>
                                        <p class="is-remark">
                                            최고관리자 외 멤버 계정에서 문서 정보와 항목을 다운로드할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="flex--column gap--sm">
                                        <div class="checkbox__item">
                                            <label for="reviewer-set-group" class="font-weight--medium">검토자 추가</label>
                                            <input type="checkbox" class="checkbox" id="reviewer-set-group">
                                        </div>
                                        <p class="is-remark">
                                            서명자 정보 입력 시 검토자를 추가할 수 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /content -->
            </main>
        </div>
        
        <script>
            // nav 따라 toggle 변경
            

        </script>
        <script src="/statics/js/common.js"></script>
    </body>
    
</html>