<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <link rel="stylesheet" href="/statics/lib/jstree/dist/themes/default/style.min.css">
        <script>
            loadHTML("/statics/include/head.html");
        </script>

        <title>조직관리</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">회사 조직도</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/group/groupMember.html">멤버 관리</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/group/groupRole.html">역할 관리</a>
                                </li>
                            </ul>
                        </div>
                        <div class="full-grid right-double">
                            <div class="card">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">조직도</p>
                                        <button type="button" class="button button--text is-medium"
                                        id="add-group">
                                            <img src="/statics/icon/plus-line.svg" class="icon" alt="부서추가">
                                            부서추가
                                        </button>
                                    </div>
                                    <div class="round-input">
                                        <input type="text"
                                        class="round-input__input input"
                                        id="group-search-input"
                                        placeholder="부서를 검색해주세요."
                                        maxlength="64">
                                    </div>
        
                                    <div id="jstree"></div>
                                </div>
                            </div>
                                
                            <div class="card" id="mobile-aside-container">
                                <div class="card__inner">
                                    <div class="card__header">
                                        <p class="is-remark">부서미지정</p>
                                        <p class="is-remark">생성일: <span>2022-10-14</span></p>
                                    </div>
    
                                    <div class="is-empty">
                                        <div class="flex--column flex-align--center
                                        ">
                                            <img class="icon is-large"
                                            src="/statics/icon/exclamation-triangle-line.svg"
                                            alt="아직 소속된 멤버가 없습니다">
                                            <p>아직 소속된 멤버가 없습니다</p>
                                            <button type="button" class="button button--secondary is-medium"
                                            id="invite-member" >멤버 초대하기</button>
                                        </div>
                                    </div>
    
                                    <div class="table">
                                        <div class="table__thead">
                                            <ul class="table__tr">
                                                <li class="table__td width-40">이름</li>
                                                <li class="table__td width-40">이메일</li>
                                                <li class="table__td width-10">역할</li>
                                                <li class="table__td width-10">부서</li>
                                            </ul>
                                        </div>
                                        <div class="table__tbody">
                                        </div>
                                    </div>
                                    <!-- /table -->
                                </div>
                            </div>
                            <!-- /card -->
                        </div>
                        <!-- /grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        
        <script src="/statics/lib/jstree/dist/jstree.min.js"></script>
        <script src="/statics/js/common.js"></script>

        <script>
            $(function () {
                makeTree()
            });

            let to = false;

            $('#group-search-input').on('keyup',searchTree)

            function searchTree(){
                if(to) { clearTimeout(to); }
                to = setTimeout(function () {
                    let value = $('#group-search-input').val();
                    $('#jstree').jstree(true).search(value);
                }, 100);
            }

            function makeTree(){
                $('#jstree').jstree({
                    "types" : {
                        "default" : {
                            "icon" : "icon"
                        },
                    },
                    "state" : {
                        "key" : "demo"
                    },
                    "core" : {
                        "check_callback" : true,
                        'data' : {
                            'url' : function (node) {
                                return node.id === '#' ?
                                '/json/jstree-test.json' :
                                '/json/jstree-test.json';
                            },
                            'data' : function (node) {
                                return { 'id' : node.id };
                            }
                        },
                        "themes" : {
                            // "variant" : "large"
                            "icons" : false
                        }
                    },
                    "plugins" : [
                        "contextmenu",
                        "massload",
                        "search",
                        "state",
                        "types",
                        "unique",
                        "changed",
                        "conditionalselect"
                    ],
                })
                .on("changed.jstree", function (e, data) {
                    $.ajax({
                        url: "/json/dummy.json",
                        type: "GET", 
                        dataType: "json"
                    })
                    .done(function(res) {
                        randomNum = Math.floor(Math.random() * 10)
                        $('.table__tbody .table__tr').remove();
                        
                        if(randomNum > 0){
                            $('.is-empty').hide();
                            $('.table').show();
                        }
                        else{
                            $('.table').hide()
                            $('.is-empty').show();

                            return false;
                        }

                        // 테스트용
                        const arr = [];
                        for (let i = 0; i < res.length; i += randomNum) {
                            arr.push(res.slice(i, i + randomNum));
                        }


                        // 테스트용
                        for (let i = 0; i<arr[0].length; i++){
                            html = '';
                            html += `<div class="table__tr">
                                <div class="table__td width-40">
                                    ${arr[0][i].name}
                                </div>
                                <div class="table__td is-remark width-40">
                                    ${arr[0][i].email}
                                </div>
                                <div class="table__td is-remark width-10">
                                    ${arr[0][i].favoriteFruit}
                                </div>
                                <div class="table__td is-remark width-10">
                                    ${arr[0][i].company}
                                </div>
                            </div>`
                            $('.table__tbody').append(html)
                        }
                        
                    })
                })
            }

            $('#add-group').on('click',makeModal)
            function makeModal(){
                html = '';
                html += `
                <div class="modal">
                    <div class="modal__header">
                        <p class="modal__title">
                            부서 추가하기
                        </p>
                        <button type="button" class="icon-button">
                            <img src="/statics/icon/close-line.svg" alt="닫기" class="icon modal__close-button">
                        </button>
                    </div>
                    <div class="modal__content">
                        <div class="round-input">
                            <label for="">부서명</label>
                            <input type="text"
                            class="round-input__input input"
                            placeholder="부서명을 입력해주세요."
                            maxlength="32">
                        </div>
                        
                    </div>
                    <div class="modal__footer">
                        <button type="button" class="button--primary button--large"
                        id="">부서 추가하기</button>
                    </div>
                </div>
                `
                $('.main').append(html)
            }

            $('#invite-member').on('click',makeMemberModal)
            function makeMemberModal(){
                html = '';
                html += `
                <div class="modal">
                    <div class="modal__header">
                        <p class="modal__title">
                            멤버 초대하기
                        </p>
                        <button type="button" class="icon-button">
                            <img src="/statics/icon/close-line.svg" alt="닫기" class="icon modal__close-button">
                        </button>
                    </div>
                    <div class="modal__content">
                        <div class="input-area">
                                <label for="login-mail">사원명</label>
                            <div class="input-box">
                                <input type="text"
                                class="input"
                                id="login-mail"
                                placeholder="사원명을 입력해주세요.">
                                <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                            </div>
                            <p class="input-area__helper"></p>
                        </div>
                        <div class="input-area">
                                <label for="login-mail">이메일</label>
                            <div class="input-box">
                                <input type="text"
                                class="input"
                                id="login-mail"
                                placeholder="사원명을 입력해주세요.">
                                <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                            </div>
                            <p class="input-area__helper"></p>
                        </div>
                        <div class="input-area">
                                <label for="login-mail">사원명</label>
                            <div class="input-box">
                                <input type="text"
                                class="input"
                                id="login-mail"
                                placeholder="사원명을 입력해주세요.">
                                <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                            </div>
                            <p class="input-area__helper"></p>
                        </div>
                        <div>
                            <label for="">역할</label>
                            <div id="" class="select-box is-small">
                                <select class="select-box__select">
                                    <option value="" selected>전체</option>
                                    <option value="">완료</option>
                                    <option value="">진행중</option>
                                    <option value="">만료</option>
                                </select>
                                <img class="select-box__icon icon" src="/statics/icon/angle-line.svg" alt="화살표">
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="modal__footer">
                        <button type="button" class="button--primary button--large"
                        id="">초대하기</button>
                    </div>
                </div>
                `
                $('.main').append(html)
            }

            $('.dim').on('click',function(){
                $('.dim, #mobile-aside-container').hide()
            })
            $(document).on('click','.jstree-anchor',function(){
                console.log('hello')
                $('.dim, #mobile-aside-container').show()
            })
        </script>
    </body>
    
</html>