<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>조직관리</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/group/groupCompany.html">회사 조직도</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/group/groupMember.html">멤버 관리</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="avascript:void(0)">역할 관리</a>
                                </li>
    
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card__row">
                                <div class="round-input">
                                    <input type="text"
                                    class="round-input__input input"
                                    placeholder="부서를 검색해주세요."
                                    maxlength="64">
                                </div>
                                <button type="button" class="button button--secondary is-medium">
                                    <img src="/statics/icon/plus-line.svg" class="icon" alt="부서추가">
                                    부서추가
                                </button>
                            </div>
                            
                            <div class="table">
                                <div class="table__colgroup">
                                    <div class="table__col" style="width:auto"></div>
                                    <div class="table__col" style="width:auto"></div>
                                    <div class="table__col" style="width:15%"></div>
                                    <div class="table__col" style="width:15%"></div>
                                </div>
                                <div class="table__thead">
                                    <ul class="table__tr">
                                        <li class="table__td">이름</li>
                                        <li class="table__td">이메일</li>
                                        <li class="table__td">부서</li>
                                        <li class="table__td">역할</li>
                                    </ul>
                                </div>
                                <div class="table__tbody">
                                    <div class="table__tr">
                                        <div class="table__td">
                                            홍길동
                                        </div>
                                        <div class="table__td">
                                            hong123@naver.com
                                        </div>
                                        <div class="table__td">
                                            없음
                                        </div>
                                        <div class="table__td">
                                            없음
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /table -->
                        </div>
                        <!-- container -->
                    </div>
                    <!-- /main-content -->
                </div>
            </main>
        </div>
    </body>
</html>