<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>조직관리</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/group/company-info.html">회사 조직도</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">멤버 관리</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/group/role-info.html">역할 관리</a>
                                </li>
    
                            </ul>
                        </div>
                        <div class="flex--row">
                            <div class="flex--column">
                                <p class="is-remark">현재 멤버</p>
                                <div class="flex--row">
                                    <p><span>0</span>명</p>
                                    <button type="button" class="button button--text is-medium">목록보기</button>
                                </div>
                            </div>
                            <div class="flex--column">
                                <p class="is-remark">초대 중</p>
                                <div class="flex--row">
                                    <p><span>0</span>명</p>
                                    <button type="button" class="button button--text is-medium">목록보기</button>
                                </div>
                            </div>
                            <div class="flex--column">
                                <p class="is-remark">삭제 멤버</p>
                                <div class="flex--row">
                                    <p><span>0</span>명</p>
                                    <button type="button" class="button button--text is-medium">목록보기</button>
                                </div>
                            </div>
                        </div>
                        <div class="card__row">
                            <div class="doc-search">
                                <input type="text"
                                class="doc-search__input input"
                                placeholder="부서를 검색해주세요."
                                maxlength="64">
                            </div>
                            <button type="button" class="button button--secondary is-medium">
                                <img src="/statics/icon/plus-line.svg" class="icon" alt="부서추가">
                                부서추가
                            </button>
                        </div>
                        
                        <div class="is-empty">
                            <div class="flex--column flex-align--center
                            ">
                                <img class="icon is-large"
                                src="/statics/icon/exclamation-triangle-line.svg"
                                alt="아직 소속된 멤버가 없습니다">
                                <p>아직 소속된 멤버가 없습니다</p>
                                <button type="button" class="button button--secondary is-medium"
                                id="invite-member" >멤버 초대하기</button>
                            </div>
                        </div>

                        <div class="table">
                            <div class="table__colgroup">
                                <div class="table__col" style="width:auto"></div>
                                <div class="table__col" style="width:auto"></div>
                                <div class="table__col" style="width:8%"></div>
                                <div class="table__col" style="width:8%"></div>
                            </div>
                            <div class="table__thead">
                                <ul class="table__tr">
                                    <li class="table__td">이름</li>
                                    <li class="table__td">이메일</li>
                                    <li class="table__td">역할</li>
                                    <li class="table__td">부서</li>
                                </ul>
                            </div>
                            <div class="table__tbody">
                                <div class="table__tr">
                                    <div class="table__td">
                                        홍길동
                                    </div>
                                    <div class="table__td">
                                        hong123@naver.com
                                    </div>
                                    <div class="table__td">
                                        없음
                                    </div>
                                    <div class="table__td">
                                        없음
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /table -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        
        <script>
            $(function(){
                $.ajax({
                    url: "/json/dummy.json",
                    type: "GET", 
                    data:{},
                    dataType: "json"
                })
                .done(function(res) {
                    randomNum = Math.floor(Math.random() * 10)
                    $('.table__tbody .table__tr').remove();
                    randomNum=0

                    if(randomNum > 0){
                        $('.is-empty').hide();
                        $('.table').show();
                    }
                    else{
                        $('.table').hide()
                        $('.is-empty').show();

                        return false;
                    }

                    // 테스트용
                    const arr = [];
                    for (let i = 0; i < res.length; i += randomNum) {
                        arr.push(res.slice(i, i + randomNum));
                    }


                    // 테스트용
                    for (let i = 0; i<arr[0].length; i++){
                        html = '';
                        html += `<div class="table__tr">
                            <div class="table__td">
                                ${arr[0][i].name}
                            </div>
                            <div class="table__td is-remark">
                                ${arr[0][i].email}
                            </div>
                            <div class="table__td is-remark">
                                ${arr[0][i].favoriteFruit}
                            </div>
                            <div class="table__td is-remark">
                                ${arr[0][i].company}
                            </div>
                        </div>`
                        $('.table__tbody').append(html)
                    }
                    
                })
            })
        </script>
    </body>
    
</html>