<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>조직관리</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/group/company-info.html">회사 조직도</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/group/member-info.html">멤버 관리</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="avascript:void(0)">역할 관리</a>
                                </li>
    
                            </ul>
                        </div>
                        <div class="card">
                            <div calss="flex--row flex-align--center flex-justify--between">
                                <div class="doc-search">
                                    <input type="text"
                                    class="doc-search__input input"
                                    placeholder="부서를 검색해주세요."
                                    maxlength="64">
                                </div>
                                <button type="button" class="button button--text is-medium">
                                    <img src="/statics/icon/pop-out-line.svg" class="icon" alt="부서추가">
                                    부서추가
                                </button>
                            </div>
                            
                            <div class="table">
                                <div class="table__colgroup">
                                    <div class="table__col" style="width:auto"></div>
                                    <div class="table__col" style="width:auto"></div>
                                    <div class="table__col" style="width:8%"></div>
                                    <div class="table__col" style="width:8%"></div>
                                </div>
                                <div class="table__thead">
                                    <ul class="table__tr">
                                        <li class="table__td">이름</li>
                                        <li class="table__td">이메일</li>
                                        <li class="table__td">역할</li>
                                    </ul>
                                </div>
                                <div class="table__tbody">
                                    <div class="table__tr">
                                        <div class="table__td">
                                            홍길동
                                        </div>
                                        <div class="table__td">
                                            hong123@naver.com
                                        </div>
                                        <div class="table__td">
                                            없음
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /table -->
                        </div>
                        <!-- container -->
                    </div>
                    <!-- /main-content -->
                </div>
            </main>
        </div>
       
        <script>
            $(function(){
                makeModal()
            })
           function makeModal(){
                html = '';
                html += `
                <div class="modal">
                    <div class="modal__header">
                        <p class="modal__title">
                            문서 선택하기
                        </p>
                        <button type="button" class="icon-button">
                            <img src="/statics/icon/close-line.svg" alt="닫기" class="icon modal__close-button">
                        </button>
                    </div>
                    <div class="modal__content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item is-active" data-tab="upload">
                                    내 컴퓨터
                                </li>
                                <li class="tab__item" data-tab="template">
                                    템플릿
                                </li>
                                <li class="tab__item" data-tab="format">
                                    서식
                                </li>
                                <li class="tab__item" data-tab="offer">
                                    맞춤계약서
                                </li>
                            </ul>
                        </div>
                        <div class="modal__tab-container" data-tab="upload">
                            <div class="file-area">
                                <label for="input-file" class="file-area__label">
                                    <input type="file"
                                    id="input-file" class="file-area__input">    
                                </label>
                                <p class="is-remark">pdf, jpg, png, hwp 파일을 업로드 할 수 있습니다.</p>
                                <button type="button" class="button button--primary">
                                    <img src="/statics/icon/close-line.svg" class="icon" alt="파일업로드">
                                    파일 업로드
                                </button>
                            </div>
                            <div>
                                <p class="is-remark">pdf, jpg, png, hwp 파일을 업로드 할 수 있습니다.</p>
                                <p class="is-remark">파일은 최대 10MB까지 업로드 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="modal__tab-container" data-tab="template">
                            <div>
                                <p class="is-remark">아직 생성된 템플릿이 없습니다. 자주 사용하는 계약서는 템플릿으로 만들어 간편하게 재사용이 가능합니다.</p>
                                <a href="javascript:void(0)" class="button button--text">템플릿 생성하기</a>
                            </div>
                        </div>
                        <div class="modal__tab-container" data-tab="format">
                            <div>
                                <p class="is-remark">아직 생성된 서식이 없습니다. 자주 사용하는 계약서는 서식으로 만들어 간편하게 재사용이 가능합니다.</p>
                                <a href="javascript:void(0)" class="button button--text">템플릿 생성하기</a>
                            </div>
                        </div>
                        <div class="modal__tab-container" data-tab="offer">
                            <div class="file-area">
                                <label for="input-file" class="file-area__label">
                                    <input type="file"
                                    id="input-file" class="file-area__input">    
                                </label>
                                <p class="is-remark">pdf, jpg, png, hwp 파일을 업로드 할 수 있습니다.</p>
                                <button type="button" class="button button--primary">
                                    <img src="/statics/icon/close-line.svg" class="icon" alt="파일업로드">
                                    파일 업로드
                                </button>
                            </div>
                            <div>
                                <p class="is-remark">pdf, jpg, png, hwp 파일을 업로드 할 수 있습니다.</p>
                                <p class="is-remark">파일은 최대 10MB까지 업로드 할 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal__button-wrap">
                        <button type="button" class="button--primary button--large" disabled
                        id="">다음</button>
                    </div>
                </div>
                `
                $('.main').append(html)
                setModalContent()
            }

            function setModalContent(){
                let modalContentType = $('.tab__item.is-active').attr('data-tab')
                $('.modal__tab-container').hide();
                $(`.modal__tab-container[data-tab="${modalContentType}"]`).show()

            }

            let tabData;
            if(tabData) console.log(tabData)

        </script>
        <script src="/statics/js/common.js"></script>

    </body>
    
</html>