<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <link rel="stylesheet" href="/statics/lib/fancy-file-uploader/fancy_fileupload.css">
        <title>조직관리</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/group/company-info.html">회사 조직도</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/group/member-info.html">멤버 관리</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="avascript:void(0)">역할 관리</a>
                                </li>
    
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card__row">
                                <div class="doc-search">
                                    <input type="text"
                                    class="doc-search__input input"
                                    placeholder="부서를 검색해주세요."
                                    maxlength="64">
                                </div>
                                <button type="button" class="button button--secondary is-medium">
                                    <img src="/statics/icon/plus-line.svg" class="icon" alt="부서추가">
                                    부서추가
                                </button>
                            </div>
                            
                            <div class="table">
                                <div class="table__colgroup">
                                    <div class="table__col" style="width:auto"></div>
                                    <div class="table__col" style="width:auto"></div>
                                    <div class="table__col" style="width:8%"></div>
                                    <div class="table__col" style="width:8%"></div>
                                </div>
                                <div class="table__thead">
                                    <ul class="table__tr">
                                        <li class="table__td">이름</li>
                                        <li class="table__td">이메일</li>
                                        <li class="table__td">역할</li>
                                    </ul>
                                </div>
                                <div class="table__tbody">
                                    <div class="table__tr">
                                        <div class="table__td">
                                            홍길동
                                        </div>
                                        <div class="table__td">
                                            hong123@naver.com
                                        </div>
                                        <div class="table__td">
                                            없음
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /table -->
                        </div>
                        <!-- container -->
                    </div>
                    <!-- /main-content -->
                </div>
            </main>
        </div>

        <script src="/statics/lib/fancy-file-uploader/jquery.fancy-fileupload.js"></script>

        <script>
            $(function(){
                makeModal()
            })
           function makeModal(){
                html = '';
                html += `
                <div class="modal">
                    <div class="modal__header">
                        <p class="modal__title">
                            문서 선택하기
                        </p>
                        <button type="button" class="icon-button">
                            <img src="/statics/icon/close-line.svg" alt="닫기" class="icon modal__close-button">
                        </button>
                    </div>
                    <div class="modal__content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item is-active" data-tab="upload">
                                    내 컴퓨터
                                </li>
                                <li class="tab__item" data-tab="template">
                                    템플릿
                                </li>
                                <li class="tab__item" data-tab="format">
                                    서식
                                </li>
                                <li class="tab__item" data-tab="offer">
                                    맞춤계약서
                                </li>
                            </ul>
                        </div>
                        <div class="modal__tab-container" data-tab="upload">
                            <div class="flex--column flex-align--center">
                                <div class="flex--column flex-align--center">
                                    <img class="icon is-large is-primary" src="/statics/icon/check-circle-solid.svg" alt="문서 업로드 성공">
                                    <p class="is-remark">문서를 성공적으로 업로드하였습니다.</p>
                                </div>
                                <p>파일명</p>
                                <div class="flex--row">
                                    <button type="button" class="button button--outline">
                                        <img src="/statics/icon/pop-out-line.svg" alt="미리보기 버튼" class="icon">
                                        미리보기    
                                    </button>
                                    <button type="button" class="button button--outline">
                                        <img src="/statics/icon/pop-out-line.svg" alt="삭제 버튼" class="icon">
                                        삭제    
                                    </button>    
                                </div>
                            </div>
                            <div class="file-area">
                                <label for="upload-file" class="file-area__label">
                                    <input type="file"
                                    id="upload-file" class="file-area__input"
                                    accept=".jpg, .png, .jpeg, .hwp, .doc, .pdf">    
                                </label>
                            </div>
                            <div>
                                <p class="is-remark">pdf, jpg, png, hwp 파일을 업로드 할 수 있습니다.</p>
                                <p class="is-remark">파일은 최대 10MB까지 업로드 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="modal__tab-container" data-tab="template">
                            <div>
                                <p class="is-remark">
                                    아직 생성된 템플릿이 없습니다.<br>
                                    자주 사용하는 계약서는 템플릿으로 만들어 간편하게 재사용이 가능합니다.
                                </p>
                                <a href="javascript:void(0)" class="button button--text">템플릿 생성하기</a>
                            </div>
                        </div>
                        <div class="modal__tab-container" data-tab="format">
                            <div>
                                <p class="is-remark">
                                    아직 생성된 서식이 없습니다.<br>
                                    자주 사용하는 계약서는 서식으로 만들어 간편하게 재사용이 가능합니다.
                                </p>
                                <a href="javascript:void(0)" class="button button--text">템플릿 생성하기</a>
                            </div>
                        </div>
                        <div class="modal__tab-container" data-tab="offer">
                            <div class="flex--row flex-align--start">
                                <div class="">
                                    <p class="is-remark">STEP 1</p>
                                    <ul>
                                        <li>인사/근로</li>
                                        <li>금융/결제</li>
                                        <li>법률/회의</li>
                                        <li>동의/서명</li>
                                    </ul>
                                </div>
                                <div>
                                    <p class="is-remark">STEP 2</p>
                                    <ul>
                                        <li>채용</li>
                                        <li>실업급여</li>
                                        <li>프랜서</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal__button-wrap">
                        <button type="button" class="button--primary button--large" disabled
                        id="">다음</button>
                    </div>
                </div>
                `
                $('.main').append(html)
                setModalContent()
                loadFancyUpload()
            }

            function setModalContent(){
                let modalContentType = $('.tab__item.is-active').attr('data-tab')
                $('.modal__tab-container').hide();
                $(`.modal__tab-container[data-tab="${modalContentType}"]`).show()

            }

            function loadFancyUpload(){
                $('#upload-file').FancyFileUpload({
                // 'url' : '',
                // 'params' : {},
                'edit' : false,                      // 업로드한 파일의 이름 변경
                'maxfilesize' : 10000000,            // 최대 10MB
                // 'accept' : null,
                'displayunits' : 'si',              // 'iec_windows', 'iec_formal', or 'si'
                'adjustprecision' : true,           // 파일 크기를 표시할 때 최종 정밀도 조정
                'retries' : 5,
                'retrydelay' : 500,
                'showpreview' : function(e, data, preview, previewclone) {},
                'hidepreview' : function(e, data, preview, previewclone) {},
                'added' : function(e, data) {

                },
                // 'startupload' : function(SubmitUpload, e, data){
                //     console.log('start upload')
                // },
                // 'continueupload' : function(e, data) {
                //     console.log('continue upload')
                // },
                // 'uploadcancelled' : function(e, data) {
                //     console.log('upload cancel')
                // },
                // 'uploadcompleted' : function(e, data) {
                //     console.log('upload completed')
                // },
                // 'fileupload' : {
                //     function(e,data){
                //         console.log(fileupload)
                //     }
                // },
            });
            }
            

        </script>
        <script src="/statics/js/common.js"></script>

    </body>
    
</html>