<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>휴면계정 | 헤제성공</title>
    </head>

    <body>
        <main class="main main--background" id="login-template">
            <!-- // 상단헤더 -->
            <div class="container flex--column gap--large">
                <div class="title-box flex-align--center">
                    <h1 class="">
                        <a href="/template/signup/login.html">
                            <img src="/statics/img/logo.png" alt="로고">
                        </a>
                    </h1>
                </div>

                <div class="flex--column flex-align--center">
                    <p class="body--large is-break" id="user-mail">휴면 상태가 해제되었습니다.</p>
                    <p class="is-remark">
                        고객님의 휴면 상태가 안전하게 해제되었습니다.
                    </p>
                </div>
                   
                <a type="button"
                class="button button--secondary is-medium"
                id="mail-shortcut"
                href="/template/signup/login.html">로그인 바로가기</a>
                   
                
                <div class="login__image-box">
                    <img src="https://source.unsplash.com/random" alt="이벤트배너">
                </div>
                
            </div>
           <!-- // container -->
        </main>
       
        
        <script>
            $('html').attr('data-theme','light')

            
            

        </script>
    </body>
    
</html>