<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>비밀번호찾기 | 메일전송</title>
    </head>

    <body>
        <main class="main main--background" id="login-template">
            <!-- // 상단헤더 -->
            <div class="container flex--column gap--large">
                <div class="title-box flex-align--center">
                    <h1 class="">
                        <a href="/template/signup/login.html">
                            <img src="/statics/img/logo.png" alt="로고">
                        </a>
                    </h1>
                </div>

                <div class="flex--column flex-align--center">
                    <p class="body--large is-break" id="user-mail">인증 메일 발송</p>
                    <p class="is-remark">
                        입력하신 이메일로 임시 비밀번호가 전송되었습니다.
                    </p>
                </div>
                   
                <div class="flex--column">
                    <div class="basic-button-wrap">
                        <a type="button"
                        class="button button--secondary is-medium"
                        id="mail-shortcut"
                        href="/template/signup/login.html">임시 비밀번호로 로그인하기</a>
                    </div>
                    <a href="/template/signup/login.html"
                        class="button button--text is-medium">인증 메일이 안 와요
                    </a>
                </div>
                
                <div class="login__image-box">
                    <img src="https://source.unsplash.com/random" alt="이벤트배너">
                </div>
                
            </div>
           <!-- // container -->
        </main>
       
        
        <script>
            $('html').attr('data-theme','light')

            let randomNum = Math.floor(Math.random() * 8)
            const mail = new URLSearchParams(location.search).getAll('mail');

            let mailArray =['Allison_Miller7183@nanoff.center',
            'Bethany_Mitchell6402@kyb7t.zone','9szDWvexfqCvFKPCRqdOgZiziAD0B51v2f0r1kfMqOjUWxtXnxAq40@naver.com',
            mail,
            '52@gmail.com',
            '.6@gmail.com',
            '_@yahoo.co.kr',
            '_@naver.com']

            $('#user-mail').text(mailArray[randomNum])

            let shortcut = ['google','daum','naver','hanmail']
            let platform = $('#user-mail').text().split('@').pop().split('.')[0]
            

        </script>
    </body>
    
</html>