<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>로그인</title>
    </head>

    <body>
        <main class="main main--background" id="login-template">
            <!-- // 상단헤더 -->
            <div class="container flex--column gap--xl">
                <div class="title-box flex-align--center">
                    <h1 class="">
                        <a>
                            <img src="/statics/img/logo.png" alt="로고">
                        </a>
                    </h1>
                </div>

                <form class="form">
                    <div class="input-area">
                            <label for="login-mail">이메일</label>
                        <div class="input-box">
                            <input type="text"
                            class="input"
                            id="login-mail"
                            placeholder="이메일주소를 입력해주세요.">
                            <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                        </div>
                        <p class="input-area__helper"></p>
                    </div>

                    <div class="input-area">
                        <label for="login-password">비밀번호</label>
                        <div class="input-box">
                            <input type="password"
                            class="input"
                            id="login-password"
                            placeholder="비밀번호를 입력해주세요.">
                            <img class="icon" id="pwd-toggle" src="/statics/icon/eye-show-line.svg"></img>
                        </div>
                        <p class="input-area__helper"></p>
                    </div>
                    
                    <div class="flex--row flex-justify--between">
                        <!-- 체크박스 -->
                        <div class="control-form">
                            <input type="checkbox"
                                id="keep-mail"
                                class="checkbox">
                            <label for="keep-mail"
                            class="">
                                이메일 기억하기
                            </label>
                        </div>

                        <!-- 비밀번호 바로가기 -->
                        <a class="button button--text is-small"
                        href="/template/signup/forgetPassword.html">비밀번호 찾기</a>
                    </div>
                    
                    <div class="form__button-wrap">
                        <button type="button"
                        class="button button--primary is-medium"
                        id="submit">로그인</button>

                        <a class="button button--text is-small"
                        href="/template/signup/signup.html">싸인오케이가 처음이신가요?</a>
                    </div>
                    
                </form>

                <div class="flex--column">
                    <p class="body--small font-color--third">다른 계정으로 로그인하기</p>
                    <div class="basic-button-wrap">
                        <button type="button" class="button button--outline" id="sns-google">
                            <img src="/statics/img/google/symbol.png">
                            <span>로그인</span>
                        </button>
                        <button type="button" class="button" id="sns-naver">
                            <img src="/statics/img/naver/symbol.png">
                            <span>로그인</span>
                        </button>
                        <button type="button" class="button" id="sns-kakao">
                            <img src="/statics/img/kakao/symbol.svg">
                            <span>로그인</span>
                        </button>
                    </div>
                </div>

            </div>
           <!-- // container -->
        </main>
        <script>
            $('html').attr('data-theme','light')

            function submitData(e){
                e.preventDefault()
                location.href=`/index.html`
            }

            $('#submit').on('click',submitData)

        </script>
    </body>
    
</html>