<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>회원가입</title>
    </head>

    <body>
        <main class="main main--background">
            <!-- // 상단헤더 -->
            <div class="container flex--column gap--large">
                <div class="title-box flex-align--center">
                    <h1 class="">
                        <a>
                            <img src="/statics/img/logo.png" alt="로고">
                        </a>
                    </h1>
                </div>

                <form class="form">
                    <div class="form__title-wrap">
                        <p class="body--large">싸인오케이 회원가입</p>
                        <p class="is-remark">싸인오케이로 간편한 전자계약을 시작해 보세요.</p>
                    </div>
                    <!-- 이메일 -->
                    <div class="input-area">
                        <label for="login-mail">이메일</label>
                        <div class="input-box">
                            <input type="text"
                            class="input"
                            id="login-mail"
                            placeholder="이메일주소를 입력해주세요." required>
                            <img class="icon" src="/statics/icon/remove-solid.svg"></img>
                        </div>
                        <p class="input-area__helper">메일 주소를 바르게 입력해주세요</p>
                    </div>
                    <!-- /이메일 -->

                    <!-- 패스워드 -->
                    <div class="input-area">
                        <label for="login-password">비밀번호</label>
                        <div class="input-box">
                            <input type="password"
                            class="input"
                            id="login-password"
                            placeholder="비밀번호를 입력해주세요." required>
                            <img class="icon" src="/statics/icon/eye-show-line.svg"></img>
                        </div>

                        <!-- 유효성검증 -->
                        <div class="flex--row">
                            <div class="icon-with-text"
                            id="has-number">
                                <img src="/statics/icon/check-line.svg"
                                class="icon">
                                <p class="is-remark">문자 및 숫자 포함</p>
                            </div>
                            <div class="icon-with-text"
                            id="has-asterisk">
                                <img src="/statics/icon/check-line.svg"
                                class="icon">
                                <p class="is-remark">특수문자</p>
                            </div>
                            <div class="icon-with-text"
                            id="has-length">
                                <img src="/statics/icon/check-line.svg"
                                class="icon">
                                <p class="is-remark"> 8자리 이상</p>
                            </div>
                        </div>
                        <!-- /유효성검증 -->
                    </div>
                    <!-- /패스워드 -->
                    
                    <!-- 약관목록 -->
                    <ul class="form__checkbox-wrap">
                        <li class="form__checkbox">
                            <label for="checkbox-all"
                            class="margin-bottom--medium font-weight--medium">
                                약관전체동의(선택포함)
                            </label>
                            <input type="checkbox" id="checkbox-all" class="checkbox">
                        </li>
                        <li class="form__checkbox">
                            <label for="" class="flex--row align-item-center">
                                <span class="font-weight--medium">필수</span>
                                만 14세 이상입니다
                                <img class="icon" src="/statics/icon/angle-right.svg">
                            </label>
                            <input type="checkbox" class="checkbox" required>

                        </li>
                        <li class="form__checkbox">
                            <label for="" class="flex--row align-item-center">
                                <span class="font-weight--medium">필수</span>
                                이용약관에 동의합니다
                                <img class="icon" src="/statics/icon/angle-right.svg">
                            </label>
                            <input type="checkbox" class="checkbox" required>

                        </li>
                        <li class="form__checkbox">
                            <label for="" class="flex--row align-item-center">
                                <span class="font-weight--medium">필수</span>
                                개인정보 수집 및 이용 동의
                                <img class="icon" src="/statics/icon/angle-right.svg">
                            </label>
                            <input type="checkbox" class="checkbox" required>

                        </li>
                        <li class="form__checkbox">
                            <label for="" class="flex--row align-item-center">
                                <span class="font-weight--medium">선택</span>
                                광고 마케팅 동의
                                <img class="icon" src="/statics/icon/angle-right.svg">
                            </label>
                            <input type="checkbox" class="checkbox">

                        </li>
                    </ul>
                    <!-- /약관목록 -->
                   
                    <div class="form__button-wrap">
                        <button type="submit" id="submit"
                        class="button button--secondary is-medium">무료 회원가입</button>
                    </div>
                   
                </form>

                <div class="flex--column">
                    <p class="body--small font-color--third">다른 계정으로 가입하기</p>
                    <div class="basic-button-wrap">
                        <a class="button is-small">
                            <img class="icon" src="/statics/icon/pop-out-line.svg">
                            <span>구글</span>
                        </a>
                        <a class="button is-small">
                            <img class="icon" src="/statics/icon/pop-out-line.svg">
                            <span>네이버</span>
                        </a>
                        <a class="button is-small">
                            <img class="icon" src="/statics/icon/pop-out-line.svg">
                            <span>카카오</span>
                        </a>
                    </div>
                </div>

                <a href="/login.html"
                    class="button button--text is-medium">이미 싸인오케이 회원이신가요?
                </a>
            </div>
           <!-- // container -->
        </main>
       
        
        <script>
            $('html').attr('data-theme','light')

            /** input 입력시 값 지우기 버튼 생성 */
            // function checkInputLength(){
            //     this.value.length > 0 ?
            //         $(this).next('.icon').show():
            //         $(this).next('.icon').hide()
            // }

            // $('.input').on('keyup',checkInputLength)


            /** remove 아이콘 클릭시 input 값 초기화
             * 아이콘에 'eye'가 있을 경우 비밀번호 토글
             * 아이콘에 'eye'가 없을 경우 input 초기화
             */
            // function handlingInputValue(){
            //     if($(this).attr('src').indexOf('eye') > -1){
            //         const inputType = $(this).prev('.input')

            //         if(inputType.attr('type') == 'password'){
            //             inputType.attr('type','text');
            //             $(this).attr('src',"/statics/icon/eye-hide-line.svg")
            //         }

            //         else{
            //             inputType.attr('type','password');
            //             $(this).attr('src',"/statics/icon/eye-show-line.svg")
            //         }
            //     }
            //     else{
            //         $(this).prev('.input').val('')
            //         $(this).hide()
            //     }
            // }

            // $('.icon').on('click',handlingInputValue)

            // 비밀번호 유효성검사
            function checkRegPwd(){
                $('.input-area').removeClass('is-error');

                let reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/
                let password = $(this).val()

                let checkAsterisk = password.search(/[!@#$%^*+=-]/g);
                let checkNumber = password.search(/[0-9]/g);
                let checkEnglish = password.search(/[a-z]/ig);


                // css 찾거나 만들기
                // 영문숫자 
                if(checkNumber <0 || checkEnglish <0){
                    $('#has-number').find('.is-remark').css('color','red')
                }
                else{
                    $('#has-number').find('.is-remark').css('color','unset')
                }

                if(checkAsterisk <0){
                    $('#has-asterisk').find('.is-remark').css('color','red')
                }
                else{
                    $('#has-asterisk').find('.is-remark').css('color','unset')
                }
                if(password.length < 8){
                    $('#has-length').find('.is-remark').css('color','red')
                }
                else{
                    $('#has-length').find('.is-remark').css('color','unset')
                }
                
            }

            $('#login-password').on('keyup',checkRegPwd)

            function submitData(e){
                // e.preventDefault()
                $('.input-area').removeClass('is-error');

                let regMail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
                let regPwd = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/

                let mail = $('#login-mail').val()
                let pwd = $('#login-password').val()

                if (!regMail.test(mail)){
                    $('#login-mail').parents('.input-area').addClass('is-error');
                }
                else if (!regPwd.test(pwd)){
                    $('#login-password').parents('.input-area').addClass('is-error');
                }
                else{
                    e.preventDefault()
                    location.href=`/signup/submit-mail.html?mail=${mail}`
                }
            }

            $('#submit').on('click',submitData)
            

        </script>
    </body>
    
</html>