<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정|주소록</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main ">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/setting/user-set.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/company-set.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/setting/price-set.html">요금제</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/payment-set.html">결제 정보</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/brand-set.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <div class="full-grid">
                            <div class="card"></div>
                            <div class="card"></div>
                            <div class="card" id="event">event</div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
       
        
        <script>

        </script>
    </body>
    
</html>