<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정 | 결제 정보</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- tabs -->
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/setting/user-set.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/company-set.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">요금제</a>
                                </li>
                                <li class="tab__item--badge ">
                                    <a href="/template/setting/payment-history-set.html">결제 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/addr-set.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/brand-set.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /tabs -->
                        <div class="full-grid left-double">
                            <div class="card-wrap">
                                <!-- card -->
                                <div class="card">
                                    <div class="card__row">
                                        <p class="">현재 <span id="user_membership" class="is-accent">PREMIUM(월)</span>  요금제를 사용하고 계십니다.
                                        </p>
                                        <a href="/template/setting/price-detail.html" class="button button--text is-small">변경하기</a>
                                    </div>
                                    <div class="card__content">
                                        <div class="card__row">
                                            <p class="is-remark">결제금액</p>
                                            <p id="user_price">0원</p>
                                        </div>
    
                                        <div class="card__row">
                                            <p class="is-remark">만료일</p>
                                            <p id="user_deadline">2020년 1월 1일</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- /card -->

                                <!-- card -->
                                <div class="card">
                                    <div class="card__row">
                                        <p class="is-remark">사용현황</p>
                                        <a href="/template/setting/price-pay-addition.html" class="button button--text is-small">충전하기</a>
                                    </div>
                                    <div class="card__content">
                                        <div class="card__row">
                                            <p class="is-remark">계약 가능</p>
                                            <p id="user_count-contract">0건 / 0건</p>
                                        </div>
                                        <div class="card__row">
                                            <p class="is-remark">대량발송</p>
                                            <p id="user_count-large">0건 / 0건</p>
                                        </div>
                                        <div class="card__row">
                                            <p class="is-remark">링크서명</p>
                                            <p id="user_count-link">0건 / 0건</p>
                                        </div>
                                        <div class="card__row">
                                            <p class="is-remark">공유발송</p>
                                            <p id="user_count-office">0건 / 0건</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- /card -->
                            </div>
                            <!-- /card-wrap -->
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        
        <script>
            let price = ['9,900','99,900','999,900']
            $(function(){
                for(let i = 0; i < $('.card__row').length; i++){
                    $('p[id^="user_count"]').eq(i).text(`${resultRandomNum(100)}건 / ${resultRandomNum(200)}건`)
                }
                $('#user_deadline').text(`20${resultRandomNum(22)}년 ${resultRandomNum(12)}월 ${resultRandomNum(30)}일`)
                $('#user_price').text(price[resultRandomNum(2)]+'원')
            })

            function resultRandomNum(value){
                randomVal = Math.floor(Math.random() * value)
                if(value < 10 && randomVal > 0 ){
                    return randomVal
                }
                else{
                    return randomVal
                }
            }

            
        </script>
    </body>
    
</html>