<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="/statics/js/loadHTML.js"></script>
        <script>
            loadHTML("/statics/include/head.html");
        </script>
        <title>설정|요금제</title>
    </head>

    <body>
        <div class="wrapper">
            <script>
                loadHTML("/statics/include/nav.html");
            </script>
            
            <main class="main">
                <!-- 상단 헤더 -->
                <script>
                    loadHTML("/statics/include/sub_header.html");
                </script>
                <!-- // 상단헤더 -->
                
                <!-- 메인 컨텐츠 -->
                <div class="container">
                    <div class="main-content">
                        <!-- tabs -->
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab__item--badge ">
                                    <a href="/template/setting/user-set.html">내 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/company-set.html">기업 정보</a>
                                </li>
                                <li class="tab__item--badge is-active">
                                    <a href="javascript:void(0)">요금제</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/payment-history-set.html">결제 정보</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/addr-set.html">주소록</a>
                                </li>
                                <li class="tab__item--badge">
                                    <a href="/template/setting/brand-set.html">브랜딩</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /tabs -->
                        <div class="full-grid left-double">
                            <div class="card-wrap">
                                <div class="card">
                                    <!-- 요금제 -->
                                    <div class="card__row">
                                        <p class="font-weight--medium body--large">
                                            요금제를 선택하세요
                                        </p>
                                        <div class="control-form">
                                            <span>연간결제</span>
                                            <label class="is-small toggle">
                                                <input type="checkbox" class="toggle__checkbox">
                                                <span class="toggle__slider"></span>
                                            </label>
                                            <span>월간결제</span>
                                        </div>
                                    </div>
                                    <div class="table" id="price-list">
                                        <div class="table__tbody">
                                            <div class="table__tr" id="price-select-area">
                                                <div class="table__td width-100"></div>
                                                <div data-membership="Basic" class="table__td width-100">
                                                    <span >베이직</span>
                                                </div>
                                                <div data-membership="Business" class="table__td width-100">
                                                    <span>비즈니스</span>
                                                </div>
                                                <div data-membership="Premium" class="table__td width-100">
                                                    <span class="">프리미엄</span>
                                                </div>
                                            </div>
                                            <div class="table__tr" >
                                                <div class="table__td width-100 is-remark">요금</div>
                                                <div class="table__td width-100"
                                                data-membership="Basic">8,800원</div>
                                                <div class="table__td width-100" data-membership="Business">33,000원</div>
                                                <div class="table__td width-100" data-membership="Premium">66,000원</div>
                                            </div>
                                            <div class="table__tr">
                                                <div class="table__td width-100 is-remark">서명요청</div>
                                                <div class="table__td width-100"
                                                data-membership="Basic">10건</div>
                                                <div class="table__td width-100"
                                                data-membership="Business">무제한</div>
                                                <div class="table__td width-100"
                                                data-membership="Premium">무제한</div>
                                            </div>
                                            <div class="table__tr">
                                                <div class="table__td width-100 is-remark">대량발송</div>
                                                <div class="table__td width-100"
                                                data-membership="Basic">미제공</div>
                                                <div class="table__td width-100"
                                                data-membership="Business">미제공</div>
                                                <div class="table__td width-100"
                                                data-membership="Premium">제공</div>
                                            </div>
                                            <div class="table__tr">
                                                <div class="table__td width-100 is-remark">링크서명</div>
                                                <div class="table__td width-100"
                                                data-membership="Basic">미제공</div>
                                                <div class="table__td width-100"
                                                data-membership="Business">미제공</div>
                                                <div class="table__td width-100"
                                                data-membership="Premium">제공</div>
                                            </div>
                                            <div class="table__tr">
                                                <div class="table__td width-100 is-remark">공문발송</div>
                                                <div class="table__td width-100"
                                                data-membership="Basic">미제공</div>
                                                <div class="table__td width-100"
                                                data-membership="Business">미제공</div>
                                                <div class="table__td width-100"
                                                data-membership="Premium">제공</div>
                                            </div>
                                            <!-- <div class="table__tr">
                                                <div class="table__td width-100 is-remark">첨부파일 요청</div>
                                                <div class="table__td width-100"
                                                data-membership="Basic">10건</div>
                                                <div class="table__td width-100"
                                                data-membership="Business">무제한</div>
                                                <div class="table__td width-100"
                                                data-membership="Premium">무제한</div>
                                            </div> -->
                                        </div>
                                    </div>
    
                                </div>
                                <!-- /card -->

                            </div>

                            <!-- /card -->
                            <div class="card is-row-full" id="event">
                                <img class="" src="https://source.unsplash.com/random">
                            </div>
                        </div>
                        <!-- /full-grid -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /container -->
            </main>
        </div>
       
        <script src="/statics/js/common.js"></script>
        <script>

            // 클릭이벤트넣어야함
            $('#price-select-area .table__td').on('click',function(e){
                $('.table__td').removeClass('is-active is-primary')

                let value = $(this).attr('data-membership')
                $('.table__td[data-membership="'+value+'"]').addClass('is-active is-primary')

                location.href='/template/setting/price-pay-membership.html?membersip='+value
            })


            let parsedTestData = JSON.parse(localStorage.getItem('testData')).user_product
            $('.table__td[data-membership="'+parsedTestData+'"]').addClass('is-active is-primary')
            
        </script>

    </body>
    
</html>